@import '//fonts.googleapis.com/icon?family=Material+Icons';
html,
body {
  height: 100%;
}
body {
  background-color: #dcdbdc;
  overflow-x: hidden;
}
img {
  image-rendering: optimizeQuality;
}
a {
  outline: none;
}
.bgViolet {
  background-color: #704663;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 22px;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 30px;
  color: #dcdbdc;
  margin: 0px auto;
}
#preload {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  overflow: hidden;
  opacity: 1;
}
#preload > div {
  position: absolute;
  left: -50%;
  background-color: #714764;
  width: 200%;
  height: 50%;
}
#preload > div.upper,
#preload > div.lower {
  transition: all 1400ms cubic-bezier(0.2, 0.985, 0.64, 0.94);
}
#preload > div.upper {
  top: 0;
  -webkit-transform-origin: center top;
  transform-origin: center top;
}
#preload > div.upper.on {
  top: -95%;
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}
#preload > div.lower {
  bottom: 0;
  background-position: center 95%;
  background-repeat: no-repeat;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  opacity: 1;
}
#preload > div.lower.on {
  bottom: -95%;
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}
#preload > .stroke {
  width: 0%;
  height: 1px;
  background-color: #dcdadc;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  margin: auto;
  opacity: 0.2;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
}
#preload > .stroke.on {
  width: 15%;
}
#preload > .stroke.on2 {
  width: 100%;
}
#preload > .stroke.on3 {
  opacity: 0;
}
#preload > img {
  width: 250px;
  height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  transition: all 1200ms cubic-bezier(0.86, 0, 0.07, 1);
}
#preload > img.on {
  opacity: 0.9;
}
#preload > .countdown {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  text-align: center;
  color: #dcdadc;
  position: absolute;
  width: 100%;
  top: 60%;
  left: 0%;
  opacity: 0;
  transition: all 1200ms cubic-bezier(0.86, 0, 0.07, 1);
}
#preload > .countdown.on {
  top: 62%;
  opacity: 0.85;
}
#main {
  height: 100%;
  margin: 0 auto;
  min-width: 990px;
  width: 100%;
  position: relative;
  z-index: 5;
}
#top-left-fixed-block {
  width: 177px;
  height: auto;
  text-align: center;
  position: fixed;
  z-index: 999;
  top: 20px;
  left: 20px;
  transition: all 900ms cubic-bezier(0.86, 0, 0.07, 1);
}
#top-left-fixed-block.on {
  top: -35%;
}
#top-left-fixed-block .logo {
  padding: 15px;
  background-color: #1d1d1d;
}
#top-left-fixed-block .logo img {
  opacity: 0;
  transition: all 900ms cubic-bezier(0.86, 0, 0.07, 1);
}
#top-left-fixed-block .logo img.on {
  opacity: 1;
}
#top-left-fixed-block .navButton {
  background-color: #ca0a60;
  width: 88px;
  height: 45px;
  margin-top: 1px;
  float: left;
}
#top-left-fixed-block .navButton:first-child {
  margin-right: 1px;
}
#top-left-fixed-block .navButton a {
  display: block;
  width: auto;
  height: 22px;
  margin: 10px auto;
  background-repeat: no-repeat;
  background-position: center -22px;
  text-decoration: none;
}
#top-left-fixed-block .navButton:nth-child(1) > a {
  background-image: url("../WD_IMAGES/GLOBAL/subnav-btn-menu.png");
}
#top-left-fixed-block .navButton:nth-child(2) > a {
  background-image: url("../WD_IMAGES/GLOBAL/subnav-btn-share.png");
}
#top-left-fixed-block .navButton:hover {
  cursor: pointer;
}
#top-left-fixed-block ul.subnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 0;
  position: absolute;
  margin-top: 3px;
  border-top: 1px solid #fff;
  overflow: visible;
  -webkit-perspective: 200px;
  perspective: 200px;
}
#top-left-fixed-block ul.subnav > li {
  -webkit-perspective: 150px;
  perspective: 150px;
  width: 100%;
  background-color: #000;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: rotateX(89deg);
  transform: rotateX(89deg);
  height: 0px;
  overflow: hidden;
  margin-bottom: 1px;
  position: relative;
  border: 0px solid #fff;
}
#top-left-fixed-block ul.subnav > li:nth-child(1) {
  background-color: #704663;
}
#top-left-fixed-block ul.subnav > li:nth-child(2) {
  background-color: #a98e62;
}
#top-left-fixed-block ul.subnav > li:nth-child(2) .logorub {
  margin-top: 25px;
}
#top-left-fixed-block ul.subnav > li:nth-child(3) {
  background-color: #3f8093;
}
#top-left-fixed-block ul.subnav > li:nth-child(3) .logorub {
  margin-top: 25px;
}
#top-left-fixed-block ul.subnav > li > .after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 180px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%);
}
#top-left-fixed-block ul.subnav h1 {
  color: #fff !important;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
#top-left-fixed-block ul.subnav.share {
  left: 0;
}
#top-left-fixed-block ul.subnav.share > li {
  background-color: #ca0a60;
}
#top-left-fixed-block ul.subnav.share h1 {
  font-size: 13px;
  font-size: 1.3rem;
}
#top-left-fixed-block ul.subnav .logorub {
  margin-top: 15px;
  margin-bottom: 8px;
}
section {
  position: relative;
  z-index: 1;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.main-wrapper {
  width: 990px;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 13px;
  font-size: 1.3rem;
}
.main-wrapper .perspectiveH1 {
  -webkit-perspective: 400px;
  perspective: 400px;
}
.main-wrapper h1 {
  width: 220px;
}
h1.rotateH1 {
  -webkit-transform: rotateX(-100deg);
  transform: rotateX(-100deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top: 40px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
}
h1.rotateXh1 {
  background-color: transparent;
  color: #704663;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
}
h1.rotateXh1 > span {
  display: block;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
h1.rotateH1FR {
  background-color: #704663;
}
h1.rotateH1LU {
  background-color: #9f8764;
}
h1.rotateH1LU > h1 {
  color: #9f8764;
}
h1.rotateH1BE {
  background-color: #3f8093;
}
h1.rotateH1BE > h1 {
  color: #3f8093;
}
.mainPicture {
  min-width: 990px;
  min-height: 800px;
  margin: 0 auto;
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: background-position;
}
.fadeMainPicture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.separator {
  height: 150px;
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: -50px;
  z-index: 2;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcomeTitle div {
  color: #5a5a5e;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
}
.welcomeTitle > .scrollDown {
  width: 50px;
  height: 50px;
  background-image: url("../WD_IMAGES/GLOBAL/scrollDown.gif"), url("../WD_IMAGES/GLOBAL/scrollDownHover.gif");
  background-position: 0 0, 0 -50px;
  background-repeat: no-repeat;
  background-color: #ec0462;
  margin: 30px auto;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.welcomeTitle > .scrollDown.on {
  background-position: 0 50px, 0 0;
}
#illustration_france,
#illustration_luxembourg,
#illustration_belgique {
  width: 590px;
  min-height: 350px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -295px;
  -webkit-perspective: 500px;
  perspective: 500px;
  z-index: 10;
}
#illustration_france > *:not(.country_name),
#illustration_luxembourg > *:not(.country_name),
#illustration_belgique > *:not(.country_name) {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  position: absolute;
  bottom: 0;
  -webkit-transform: rotateX(-89deg);
  transform: rotateX(-89deg);
  visibility: hidden;
  opacity: 0;
}
.fr_cloud-1 {
  width: 141px;
  height: 82px;
  top: 5%;
  left: 60%;
  background-image: url("../WD_IMAGES/_FRANCE/france-shape-nuage1.png");
}
.fr_cloud-2 {
  width: 82px;
  height: 48px;
  top: 20%;
  left: 30%;
  background-image: url("../WD_IMAGES/_FRANCE/france-shape-nuage2.png");
}
.fr_cloud-3 {
  width: 38px;
  height: 22px;
  top: 40%;
  left: 60%;
  background-image: url("../WD_IMAGES/_FRANCE/france-shape-nuage3.png");
}
.fr_city {
  width: 552px;
  height: 51px;
  left: 50%;
  margin-left: -276px;
  background-image: url("../WD_IMAGES/_FRANCE/france-shape-ville.png");
}
.fr_eiffelTower {
  width: 92px;
  height: 246px;
  left: 50%;
  margin-left: -45px;
  background-image: url("../WD_IMAGES/_FRANCE/france-shape-tourEiffel.png");
}
.fr_reverbere-1 {
  width: 20px;
  height: 124px;
  background-image: url("../WD_IMAGES/_FRANCE/france-shape-reverbere1.png");
  left: 30%;
  margin-left: -10px;
}
.fr_reverbere-1:nth-child(odd) {
  left: 70%;
}
.fr_reverbere-2 {
  width: 26px;
  height: 159px;
  background-image: url("../WD_IMAGES/_FRANCE/france-shape-reverbere2.png");
  left: 20%;
  margin-left: -13px;
}
.fr_reverbere-2:nth-child(odd) {
  left: 80%;
}
.fr_titre {
  color: #dddcdd;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 300;
  bottom: 23%;
}
.apropos-1 {
  background-color: #dcdbdc;
  width: 100%;
  min-height: 300px;
  position: relative;
}
.apropos-1 > .animationMetro {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-image: url("../WD_IMAGES/_FRANCE/france-metro.png");
  background-repeat: no-repeat;
  background-position: -1800px bottom;
}
.apropos-2 {
  background-color: #7b7b7b;
  width: 100%;
  padding: 50px;
}
.lu_cloud-1 {
  width: 78px;
  height: 45px;
  top: 20%;
  left: 50%;
  background-image: url("../WD_IMAGES/_LUXEMBOURG/luxembourg-shape-nuage1.png");
}
.lu_cloud-2 {
  width: 40px;
  height: 23px;
  top: 40%;
  left: 75%;
  background-image: url("../WD_IMAGES/_LUXEMBOURG/luxembourg-shape-nuage2.png");
}
.lu_cloud-3 {
  width: 28px;
  height: 16px;
  top: 40%;
  left: 45%;
  background-image: url("../WD_IMAGES/_LUXEMBOURG/luxembourg-shape-nuage3.png");
}
.lu_eglise {
  background-image: url("../WD_IMAGES/_LUXEMBOURG/luxembourg-shape-eglise.png");
  bottom: 33% !important;
  height: 104px;
  left: 50%;
  margin-left: 25px;
  width: 122px;
}
.lu_pont {
  width: 342px;
  height: 120px;
  left: 50%;
  margin-left: -171px;
  background-image: url("../WD_IMAGES/_LUXEMBOURG/luxembourg-shape-pont.png");
}
.lu_feuillage {
  width: 586px;
  height: 158px;
  background-image: url("../WD_IMAGES/_LUXEMBOURG/luxembourg-shape-feuillages.png");
  left: 50%;
  margin-left: -292px;
}
.lu_titre {
  color: #dddcdd;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 300;
  bottom: 42%;
}
.be_cloud-1 {
  width: 90px;
  height: 52px;
  top: 30%;
  left: 20%;
  background-image: url("../WD_IMAGES/_BELGIQUE/belgique-shape-nuage1.png");
}
.be_cloud-2 {
  width: 63px;
  height: 36px;
  top: 35%;
  left: 65%;
  background-image: url("../WD_IMAGES/_BELGIQUE/belgique-shape-nuage2.png");
}
.be_cloud-3 {
  width: 38px;
  height: 22px;
  top: 30%;
  left: 55%;
  background-image: url("../WD_IMAGES/_BELGIQUE/belgique-shape-nuage3.png");
}
.be_atomium {
  width: 182px;
  height: 196px;
  left: 50%;
  margin-left: -91px;
  margin-bottom: -1px;
  background-image: url("../WD_IMAGES/_BELGIQUE/belgique-shape-atomium.png");
}
.be_arbre-1 {
  width: 53px;
  height: 59px;
  background-image: url("../WD_IMAGES/_BELGIQUE/belgique-shape-arbre1.png");
  left: 28%;
  margin-left: -26px;
}
.be_arbre-1:nth-child(odd) {
  left: 72%;
}
.be_arbre-2 {
  width: 81px;
  height: 90px;
  background-image: url("../WD_IMAGES/_BELGIQUE/belgique-shape-arbre2.png");
  left: 15%;
  margin-left: -40px;
}
.be_arbre-2:nth-child(odd) {
  left: 85%;
}
.be_titre {
  color: #dddcdd;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 300;
  bottom: 28%;
}
.country_name {
  position: absolute;
  opacity: 0;
  left: 25%;
}
.stickers_next {
  background-color: #7b7b7b;
  padding: 10px 30px;
  position: absolute;
  right: -7%;
  top: 195px;
  width: auto;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.stickers_next > div {
  color: #dcdbdc;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
}
.stickers_next > div.triangle {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -30px;
  left: 5px;
}
#slides_about_me {
  width: 80%;
  margin: 80px auto;
  margin-bottom: 100px;
  position: relative;
}
#slides_about_me .descriptionPadding {
  font-size: 17px;
  font-size: 1.6rem;
  line-height: 2.7rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 0px 90px;
  text-align: center;
}
#slides_about_me .descriptionPadding a {
  color: #ca0a60;
  text-decoration: none;
}
#slides_about_me .descriptionPadding a:hover {
  color: #3e3e3e;
}
#slides_about_me .descriptionPadding > h1 {
  color: #281823;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  font-size: 3.5rem;
  font-weight: 300;
  padding: 0;
  text-transform: none;
  width: 100%;
  margin-bottom: 20px;
}
#slides_about_me .skills_circles {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 10px;
}
#slides_about_me .skills_circles > div {
  width: 165px;
  height: 165px;
  margin: 0 10px;
  background-image: url("../WD_IMAGES/_FRANCE/france-grey-circle.png");
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Oswald', sans-serif;
  color: #704663;
  font-weight: 300;
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
}
#slides_about_me .skills_circles .text {
  height: 135px;
  border: 1px;
  text-align: center;
  padding: 30px;
}
#slides_about_me .skills_circles h1 {
  width: auto;
  font-size: 20px;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #ca0a60;
  margin-top: 10px;
  opacity: 0;
  padding: 0;
}
#slides_about_me .skills_circles .svgCircle {
  margin-left: 0;
  margin-top: 0;
  top: -1px;
  left: -2px;
  position: absolute;
  background: none;
}
#slides_about_me .skills_circles .svgCircle .circle-path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;
}
.animate #slides_about_me .skills_circles .svgCircle .circle-path animation animCircle 1s ease forwards to {
  stroke-dashoffset: 520px;
}
.animate #slides_about_me .skills_circles .svgCircle .circle-path animation animCircle 1s ease forwards to {
  stroke-dashoffset: 520px;
}
.animate #slides_about_me .skills_circles .svgCircle .circle-path animation animCircle 1s ease forwards to {
  stroke-dashoffset: 520px;
}
#slides_about_me .skills_circles .activeThumb {
  width: 35px;
  height: 35px;
  background-image: url("../WD_IMAGES/_FRANCE/france-thumb.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}
#slides_about_me .skills_circles + p {
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #776772;
  text-align: center;
  opacity: 1;
  margin-top: 65px;
  letter-spacing: 0.1rem;
  bottom: -45px;
  margin-left: 70px;
  opacity: 0;
}
#slides_about_me .skills_softwares {
  width: 600px;
  height: 230px;
  margin: 0 auto;
  position: relative;
}
#slides_about_me .skills_softwares > .row {
  width: 100%;
  height: 1px;
  background-color: #8b8b8b;
  position: absolute;
  top: 0px;
  opacity: 0;
}
#slides_about_me .skills_softwares > .columns {
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  align-items: stretch;
}
#slides_about_me .skills_softwares > .columns > .col {
/* background-color #fff  */
  width: 100px;
  height: 230px;
  text-align: center;
  position: relative;
  display: block;
}
#slides_about_me .skills_softwares > .columns > .col > div {
  width: 25px;
  height: 0;
  margin-left: 40px;
  background-color: #ca0a60;
  position: absolute;
  bottom: 50px;
}
#slides_about_me .skills_softwares > .columns > .col > h1 {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #704663;
  text-align: center;
  margin: 0;
  margin-bottom: -10px;
  padding: 0;
  position: absolute;
  width: 100%;
  bottom: 0px;
  opacity: 0;
}
#interests_about_me {
  width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
#interests_about_me > div {
  width: 145px;
  height: 145px;
  background-color: #d5d2d4;
  margin-bottom: 5px;
  margin-right: 5px;
  overflow: hidden;
}
#interests_about_me > div > span {
  position: absolute;
  display: block;
  width: 145px;
  height: 145px;
  background-image: url("../WD_IMAGES/_FRANCE/interests-spritesheets-icons.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
#interests_about_me > div > .fillBg {
  background-color: #ca0a60;
  width: 100%;
  height: 0;
}
#interests_about_me > .heart {
  background-color: rgba(0,0,0,0);
  background-image: url(""../WD_IMAGES/_FRANCE/Ilove-icon-heart-bg.png"");
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 67px;
  left: 50%;
  margin-left: -38px;
  margin-top: -35px;
  position: absolute;
  width: 71px;
}
#interests_about_me > .heart > img {
  margin-left: 7px;
  margin-top: 7px;
}
#interests_about_me > .heart > h1 {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 300;
  left: 2px;
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  top: 6px;
  z-index: 2;
}
#first .mainPicture {
  background-color: #dcdbdc;
}
#first .welcomeTitle {
  padding-top: 110px;
}
#first .welcomeTitle > h1 {
  color: #704663;
  font-size: 38px;
  font-size: 3.8rem;
  letter-spacing: 3.6rem;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-left: 10px;
}
#luxembourg .mainPicture {
  overflow: hidden;
  background-color: #e1dfde;
}
#luxembourg .separator {
  margin-top: -80px;
}
#luxembourg .welcomeTitle {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 40%;
  left: 0;
}
#luxembourg .welcomeTitle > h1 {
  color: #f6ede0;
  font-size: 23px;
  font-size: 2.3rem;
  letter-spacing: 0.6rem;
  margin: 0 auto;
  text-align: center;
  width: 574px;
}
#luxembourg article {
  background-color: #e1dfde;
}
#luxembourg .luxembourg-1 .bandeau {
  background-color: #68695f;
  color: #e0dedd;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  padding: 10px;
  text-align: center;
  margin: 20px 0;
}
#luxembourg .luxembourg-1 .texte1 {
  padding: 0px 90px;
  padding-top: 100px;
  padding-bottom: 0;
  font-size: 17px;
  font-size: 1.7rem;
  color: #303030;
}
#luxembourg #portfolio {
  margin-top: 20px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
#luxembourg #portfolio > .portfolio-nav {
  margin-top: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
#luxembourg #portfolio > .portfolio-nav > span {
  color: #9f8764;
  font-size: 21px;
  font-size: 2.1rem;
  letter-spacing: 0.6rem;
  padding: 5px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: all 650ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#luxembourg #portfolio > .portfolio-nav.on img {
  display: none;
}
#luxembourg #portfolio > .portfolio-nav.on > span {
  background-color: #1d1d1d;
  border-right: 1px solid #9f8764;
  padding: 5px 110px;
  cursor: pointer;
}
#luxembourg #portfolio > .portfolio-nav.on > span:hover {
  background-color: #9f8764;
  color: #1d1d1d;
}
#luxembourg #portfolio > .portfolio-nav.on > span:last-child {
  border-right: none;
}
#luxembourg #portfolio > .portfolio-tab {
  margin-left: 20px;
  margin-top: 80px;
  transition: all 2050ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#luxembourg #portfolio > .portfolio-tab.on {
  opacity: 0;
}
#luxembourg #portfolio > .portfolio-tab > .column {
  float: left;
  margin-left: -13px;
  position: relative;
  z-index: 2;
  -webkit-perspective: 900px;
  perspective: 900px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#luxembourg #portfolio > .portfolio-tab > .column > .prow {
  -webkit-perspective: 900px;
  perspective: 900px;
  -webkit-transform-style: flat;
  transform-style: flat;
  padding: 10px;
  -webkit-perspective: none;
  perspective: none;
  padding: 0 10px;
}
#luxembourg #portfolio > .portfolio-tab > .column > .prow > div {
  width: 315px;
  height: 270px;
  margin-bottom: 5px;
  background-color: #ccc;
  overflow: hidden;
  position: relative;
  -webkit-transform-style: flat;
  transform-style: flat;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center, center center;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#luxembourg #portfolio > .portfolio-tab > .column > .prow .thumb_nb {
  z-index: 9;
}
#luxembourg #portfolio > .portfolio-tab > .column > .prow .thumb_nb.thumb_color {
  width: 315px;
  height: 270px;
  background-color: #000;
  background-size: cover;
  background-position: center center, center center;
  transition: all 850ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
}
#luxembourg #portfolio > .portfolio-tab > .column > .prow.on > div > .thumb_nb {
  opacity: 0;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
#luxembourg #portfolio > .portfolio-tab > .column > .prow .shadow {
  width: 315px;
  height: 270px;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}
#luxembourg #portfolio > .portfolio-tab > .column:nth-child(1) > .prow1 > div {
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
#luxembourg #portfolio > .portfolio-tab > .column:nth-child(1) > .prow2 > div {
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
  -webkit-transform-origin: right center;
  transform-origin: right center;
}
#luxembourg #portfolio > .portfolio-tab > .column:nth-child(2) > .prow1 > div {
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
  -webkit-transform-origin: right center;
  transform-origin: right center;
}
#luxembourg #portfolio > .portfolio-tab > .column:nth-child(2) > .prow2 > div {
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
#luxembourg #portfolio > .portfolio-tab > .column:nth-child(3) > .prow1 > div {
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
#luxembourg #portfolio > .portfolio-tab > .column:nth-child(3) > .prow2 > div {
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
  -webkit-transform-origin: right center;
  transform-origin: right center;
}
#luxembourg #portfolio > .portfolio-tab > .column:nth-child(1) > .prow1 > div > .shadow,
#luxembourg #portfolio > .portfolio-tab > .column:nth-child(2) > .prow2 > div > .shadow,
#luxembourg #portfolio > .portfolio-tab > .column:nth-child(3) > .prow1 > div > .shadow {
  background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}
#luxembourg #portfolio > .portfolio-tab > .column:nth-child(1) > .prow2 > div > .shadow,
#luxembourg #portfolio > .portfolio-tab > .column:nth-child(2) > .prow1 > div > .shadow,
#luxembourg #portfolio > .portfolio-tab > .column:nth-child(3) > .prow2 > div > .shadow {
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
}
#luxembourg #portfolio > .portfolio-tab > .column > div > .shadow {
  transition: all 650ms cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
}
#luxembourg #portfolio > .portfolio-tab > .column > div .linkIcon {
  position: absolute;
  z-index: 20;
  top: 20%;
  left: 50%;
  margin-left: -44px;
  width: 88px;
  height: 88px;
  background-image: url("../WD_IMAGES/_LUXEMBOURG/luxembourg-link-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms;
  -webkit-transform: scale(0) rotate(90deg);
  transform: scale(0) rotate(90deg);
  opacity: 0;
}
#luxembourg #portfolio > .portfolio-tab > .column.on > div {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#luxembourg #portfolio > .portfolio-tab > .column.on > div > .shadow {
  opacity: 0;
}
#luxembourg #portfolio > .portfolio-tab > .column.on > div .linkIcon {
  -webkit-transform: scale(0.75) rotate(0deg);
  transform: scale(0.75) rotate(0deg);
  opacity: 1;
}
#luxembourg #portfolio > .portfolio-tab > .column.on > div > .description {
  position: absolute;
  z-index: 20;
  bottom: -80px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px 5px;
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 240ms;
  bottom: 0;
}
#luxembourg #portfolio > .portfolio-tab > .column > h1 {
  width: 100%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  letter-spacing: 0.12rem;
  font-size: 15px;
  font-size: 1.5rem;
  text-align: center;
}
#luxembourg #portfolio > .portfolio-tab > .column > p {
  margin: 0;
  padding: 0;
}
#luxembourg #portfolio .portfolio-bg-tab {
  position: relative;
  height: 645px;
  top: -18px;
}
#luxembourg #portfolio .portfolio-bg-tab > div {
  position: absolute;
  z-index: 1;
}
#luxembourg #portfolio .portfolio-bg-tab > div:nth-child(1) {
  left: -3px;
  top: -15px;
}
#luxembourg #portfolio .portfolio-bg-tab > div:nth-child(2) {
  left: 374px;
  top: -15px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#luxembourg #portfolio .portfolio-bg-tab > div:nth-child(3) {
  left: 641px;
  top: -15px;
}
#luxembourg #portfolio .portfolio-bg-tab > div:nth-child(4) {
  left: 52px;
  bottom: 43px;
  -webkit-transform: rotateX(180deg) rotateY(180deg);
  transform: rotateX(180deg) rotateY(180deg);
}
#luxembourg #portfolio .portfolio-bg-tab > div:nth-child(5) {
  left: 319px;
  bottom: 43px;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
#luxembourg #portfolio .portfolio-bg-tab > div:nth-child(6) {
  right: 14px;
  bottom: 43px;
  -webkit-transform: rotateX(180deg) rotateY(180deg);
  transform: rotateX(180deg) rotateY(180deg);
}
#luxembourg #portfolio .portfolio-bg-tab > div:nth-child(1),
#luxembourg #portfolio .portfolio-bg-tab > div:nth-child(2),
#luxembourg #portfolio .portfolio-bg-tab > div:nth-child(3) {
  top: -5px;
}
#luxembourg #portfolio .portfolio-bg-tab > div:nth-child(4),
#luxembourg #portfolio .portfolio-bg-tab > div:nth-child(5),
#luxembourg #portfolio .portfolio-bg-tab > div:nth-child(6) {
  bottom: 55px;
}
#portfolio-details {
  width: 100%;
  height: 630px;
  background-color: #1d1d1d;
  position: absolute;
  top: 31%;
  left: -100%;
  z-index: 99;
  transition: all 900ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
#portfolio-details.on {
  left: 0;
}
#portfolio-details .mCSB_scrollTools {
  right: 7px;
}
#portfolio-details > div:first-child {
  width: 30%;
  height: 100%;
  overflow: auto;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
#portfolio-details > div:first-child .row {
  border: 1px solid #1d1d1d;
  background-color: #847053;
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
  height: auto;
  position: relative;
  display: block !important;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
  z-index: 99999;
}
#portfolio-details > div:first-child .row > span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#portfolio-details > div:first-child .row.filtered > span {
  opacity: 0.4 !important;
}
#portfolio-details > div:first-child .row.on {
  border-bottom: 1px solid #9f8764;
}
#portfolio-details > div:first-child .row.on > span {
  opacity: 0 !important;
}
#portfolio-details > div:first-child .row.on > .col > .logo-art {
  background-size: 110%;
}
#portfolio-details > div:first-child .row.on > .col > .logo-art > img {
  opacity: 0;
}
#portfolio-details > div:first-child .row.on:last-child > h1 {
  color: #fff;
}
#portfolio-details > div:first-child .row > .col {
  width: 49.5%;
  display: inline-block !important;
  position: relative;
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  vertical-align: middle !important;
}
#portfolio-details > div:first-child .row > .col:last-child {
  color: #e0dedd;
  padding: 5%;
}
#portfolio-details > div:first-child .row > .col:last-child > .description {
  color: #4a4a4a;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-top: 10px;
}
#portfolio-details > div:first-child .row > .col > .logo-art {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#portfolio-details > div:first-child .row > .col > .logo-art > img {
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#portfolio-details > div:first-child .row > .col > .logo-art > h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#portfolio-details > div:first-child .row.off {
  display: none;
}
#portfolio-details > div:last-child {
  display: inline-block;
  height: 100%;
  margin-left: -4px;
  vertical-align: top;
  width: 70%;
}
#portfolio-details > div:last-child > nav {
  width: 100%;
  background-color: #68695f;
  position: relative;
}
#portfolio-details > div:last-child > nav > a {
  font-family: 'Oswald', sans-serif;
  font-size: 23px;
  font-size: 2.3rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1% 3%;
  text-align: center;
  letter-spacing: 0.1em;
  color: #aeaeaa;
  vertical-align: middle;
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#portfolio-details > div:last-child > nav > a:hover,
#portfolio-details > div:last-child > nav > a.on {
  background-color: #1d1d1d;
  text-align: center;
}
#portfolio-details > div:last-child > nav > a.close {
  background-color: #1d1d1d;
  padding: 0.85% 0;
  position: absolute;
  right: 0%;
  text-align: center;
  top: -14px;
  width: 10%;
  z-index: 99;
}
#portfolio-details > div:last-child > nav > a.close > img {
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
#portfolio-details > div:last-child > nav > a.close:hover > img {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#portfolio-details > div:last-child > section {
  visibility: hidden;
  position: absolute;
  width: 70.4%;
  transition: all 950ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
}
#portfolio-details > div:last-child > section > .slideshow {
  display: inline-block;
  position: relative;
  width: 64%;
  margin-top: 10%;
  vertical-align: top;
}
#portfolio-details > div:last-child > section > .slideshow .slick-dots {
  margin-bottom: -4%;
}
#portfolio-details > div:last-child > section > .slideshow .slick-dots li.slick-active button:before {
  color: #e1dfde;
}
#portfolio-details > div:last-child > section > .slideshow .slick-dots li button:before {
  font-size: 16px;
  color: #e1dfde;
}
#portfolio-details > div:last-child > section.on {
  visibility: visible;
  opacity: 1;
}
#portfolio-details > div:last-child > section > article {
  background-color: #1d1d1d;
  color: #e1dfde;
  display: inline-block;
  margin: 3% 5% 0 3%;
  padding: 6% 0 0;
  text-align: justify;
  vertical-align: top;
  width: 25%;
}
#portfolio-details > div:last-child > section > article > h1 {
  padding: 1.5% 0;
  margin: 0;
  margin-bottom: 2%;
  font-size: 25px;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: left;
  color: #9f8764;
}
#portfolio-details > div:last-child > section > article a {
  color: #9f8764;
  text-decoration: none;
}
#portfolio-details > div:last-child > section > article .flickr-and-cie {
  background-color: #847053;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 200;
  left: 0;
  padding: 0.5%;
  position: absolute;
  text-indent: 2.5%;
  top: 1px;
  width: 99.4%;
}
#portfolio-details > div:last-child > section > article .flickr-and-cie > a {
  color: #1d1d1d;
  font-weight: 400;
  padding: 0 1%;
}
#portfolio-details > div:last-child > section > article .flickr-and-cie > a > span {
  font-variant: small-caps;
}
#portfolio-details > div:last-child > section > article .developIn {
  display: inline-block;
  margin: 3% 4% 2% -1%;
  padding: 1% 0;
}
#portfolio-details > div:last-child > section > article .developIn > span {
  display: inline-block;
  background-image: url("../WD_IMAGES/_LUXEMBOURG/luxembourg-icones-html-css-jquery-etc-spreadsheets.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 48px;
  height: 45px;
}
#portfolio-details > div:last-child > section > article .developIn > span.css {
  background-position: -48px 0;
}
#portfolio-details > div:last-child > section > article .developIn > span.jquery {
  background-position: -96px 0;
}
#portfolio-details > div:last-child > section > article .developIn > span.spip {
  background-position: -144px 0;
}
#portfolio-details > div:last-child > section > article .developIn > span.responsive {
  background-position: -192px 0;
}
#portfolio-details > div:last-child > section > article .developIn > span.php {
  background-position: -240px 0;
}
#portfolio-details > div:last-child > section > article .visit-site {
  display: inline-block;
  position: relative;
  top: -4px;
  text-align: left;
}
#portfolio-details > div:last-child > section > article .visit-site,
#portfolio-details > div:last-child > section > article .awards {
  margin-top: 10px;
  color: #767676;
  text-align: left;
}
#portfolio-details > div:last-child > section > article a img {
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: inline-block;
  position: relative;
}
#portfolio-details > div:last-child > section > article a:hover {
  opacity: 0.5;
}
#portfolio-details > div:last-child > section > article a:hover img {
  left: 10px;
}
#luxembourg #awards {
  width: 100%;
  height: 650px;
  position: relative;
}
#luxembourg #awards > .raylight {
  width: 650px;
  height: 650px;
  background-image: url("../WD_IMAGES/_LUXEMBOURG/luxembourg-raylights-awards.png");
  background-position: center center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -335px;
  background-repeat: no-repeat;
  z-index: 0;
  -webkit-transform-origin: center center 5px;
  transform-origin: center center 5px;
}
#luxembourg #awards > .titre {
  text-align: center;
  width: 100%;
  position: relative;
  padding-top: 125px;
}
#luxembourg #awards > .titre span {
  padding-left: 15px;
}
#luxembourg #awards > .titre > div:first-child {
  font-weight: 400;
  font-size: 110px;
  font-size: 11rem;
  color: #9f8764;
}
#luxembourg #awards > .titre > div:last-child {
  color: #68695f;
  font-size: 35px;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 1.6rem;
}
#luxembourg #awards .slideAwards {
  width: 100%;
  margin-top: 85px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}
#luxembourg #awards .slideAwards .awardRborder {
  padding-left: 100px;
  border-right: 1px solid #9f8764;
}
#luxembourg #awards .slideAwards .slick-active > .awardRborder.noBorder {
  border-right: none !important;
}
#luxembourg #awards .slideAwards .urlsite {
  margin-bottom: 10px;
}
#luxembourg #awards .slideAwards .urlsite > a:hover {
  color: #9f8764;
}
#luxembourg #awards .slideAwards a {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.7rem;
  color: #282828;
  text-decoration: none;
  transition: all 200ms ease;
}
#luxembourg #awards .slideAwards a:hover {
  color: #9f8764;
}
#luxembourg #awards .slideAwards > a {
  color: #282828;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 400;
}
#belgique .welcomeTitle {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 35%;
  left: 0;
}
#belgique .welcomeTitle > h1 {
  color: #dcdfe0;
  font-size: 23px;
  font-size: 2.3rem;
  letter-spacing: 0.6rem;
  margin: 0 auto;
  text-align: center;
  width: 574px;
}
#belgique .mainPicture {
  background-color: #dde0e1;
}
#belgique .belgique-1 {
  background-color: #dde0e1;
}
#belgique .belgique-1 > main-wrapper {
  padding-bottom: 0;
}
#belgique .texte1 {
  color: #303030;
  font-size: 2rem;
  font-size: 20px;
  line-height: 3.2rem;
  padding: 110px 150px 160px 150px;
}
#belgique .texte1 strong {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  margin: -3px 0 0;
  padding: 0;
}
#belgique .texte1 a {
  color: #3f8093;
  display: inline-block;
  text-decoration: none;
}
#belgique .texte1 a:hover {
  text-decoration: underline;
}
#belgique .texte1 a[rel='external'] {
  color: #ca0a60;
}
#belgique .texte2 {
  background-color: #3f8093;
  margin-top: -80px;
}
#belgique .texte2 > .main-wrapper {
  color: #dcdfe0;
  font-size: 15px;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 0 80px;
}
#belgique .texte2 > .main-wrapper.merci {
  padding: 0;
  position: relative;
  top: -64px;
}
#belgique .texte2 > .main-wrapper > h1 {
  color: #3f8093;
  font-size: 60px;
  font-size: 6rem;
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 300;
  letter-spacing: 0.15em;
}
#belgique .texte2 > .main-wrapper > p > span {
  opacity: 0;
  position: absolute;
  margin-left: 4px;
}
#belgique .texte2 > .main-wrapper > .social-icons {
  text-align: center;
  margin-top: 40px;
}
#belgique .texte2 > .main-wrapper > .social-icons a {
  text-decoration: none;
}
#belgique .texte2 > .main-wrapper > .social-icons a > div {
  display: inline-block;
  margin: 0 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #dcdfe0;
  position: relative;
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#belgique .texte2 > .main-wrapper > .social-icons a > div:hover {
  background-color: #3f8093;
}
.social-icons .icon {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-image: url("../WD_IMAGES/_BELGIQUE/socials-links-stylesheets.png");
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.social-icons .icon.ic1 {
  background-position: 0 0;
}
.social-icons .icon.ic1:hover {
  background-position: 0 -80px;
}
.social-icons .icon.ic2 {
  background-position: -80px 0;
}
.social-icons .icon.ic2:hover {
  background-position: -80px -80px;
}
.social-icons .icon.ic3 {
  background-position: -160px 0;
}
.social-icons .icon.ic3:hover {
  background-position: -160px -80px;
}
.social-icons .round-hover-social-icons {
  position: absolute;
  opacity: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ca0a60 !important;
  z-index: 1;
  -webkit-transform-origin: center bottom 200px;
  transform-origin: center bottom 200px;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
a:hover .social-icons .round-hover-social-icons {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}
@-webkit-keyframes animCircle {
  to {
    stroke-dashoffset: 520px;
  }
}
@keyframes animCircle {
  to {
    stroke-dashoffset: 520px;
  }
}

/*# sourceMappingURL=main.css.map */
