<template>
  <div id="main" class="on">
    <section-slider></section-slider>
    <!-- FRANCE -->
    <!-- LUXEMBOURG -->
    <section class="luxembourg" id="luxembourg">
      <div class="separator" style="background-image: url(./WD_IMAGES/_LUXEMBOURG/luxembourg-separators.png)"></div>
      <article class="mainPicture" style="background-image: url(); height: 299px; background-position: 50% -200px;">
        <div class="fadeMainPicture"></div>
        <div class="welcomeTitle">
          <h1>“plus de 10 ans d’expérience au Grand-duché du Luxembourg”</h1>
        </div>
        <div id="illustration_luxembourg">
          <div class="cloud lu_cloud-1"></div>
          <div class="cloud lu_cloud-2"></div>
          <div class="cloud lu_cloud-3"></div>
          <div class="lu_eglise"></div>
          <div class="lu_pont"></div>
          <div class="lu_feuillage"></div>
          <div data-posx="37" class="country_name lu_titre">Luxembourg</div>
        </div>
        <!-- <div class="gelfra-illustration"><img src=></div> -->
      </article>
      <article class="luxembourg-1">
        <div class="main-wrapper">
          <div class="perspectiveH1">
            <h1 class="bgViolet rotateH1 rotateH1LU" style="transform: matrix3d(1, 0, 0, 0, 0, -0.34202, -0.93969, 0, 0, 0.93969, -0.34202, 0, 0, 0, 0, 1);"><h1 class="rotateXh1" style="background-color: rgb(225, 223, 222);"><span>mon métier</span></h1>mon métier</h1>
          </div>
          <div class="texte1">
            <div style="text-align: justify;">Vous trouverez ici quelques-unes de mes créations professionnelles (web &amp; print) et personnelles (digital &amp; matte painting). J’aime la diversité dans mes travaux c’est pour cela que mes compétences me permettent aujourd’hui de réaliser un projet web allant du croquis&nbsp;papier jusqu’au développement et la mise en production de celui-ci.
              <br>
            </div>
          </div>
        </div>
        <div class="main-wrapper" style="position: static;">
          <div class="bandeau">
            <img src=>200 créations professionnelles et personnelles</div>
          <div id="portfolio">
            <div class="portfolio-nav">
              <span data-type="webdesign">webdesign</span> <img src=> <span data-type="artwork">artwork</span>
              <!--                 <a href="javascript:void(0)">
    <img src=>
</a> -->
            </div>
            <div class="portfolio-tab">
              <div class="column">
                <div class="prow prow1">
                  <div data-index="slide-1">
                    <div class="thumb_nb" style="background-image: url(IMG/arton21.jpg?1481620824)"></div>
                    <div class="thumb_color" style="background-image:url(IMG/artoff21.jpg?1481620828)"></div>
                    <div class="description">
                      <h1>DuPont™ Corian® </h1>
                    </div>
                    <div class="linkIcon"></div>
                    <div class="shadow"></div>
                  </div>
                </div>
                <div class="prow prow2">
                  <div data-index="slide-2">
                    <div class="thumb_nb" style="background-image: url(IMG/arton15.jpg?1473343728)"></div>
                    <div class="thumb_color" style="background-image:url(IMG/artoff15.jpg?1473343728)"></div>
                    <div class="description">
                      <h1>Sandkescht  Lounge-Café Brasserie</h1>
                      <p></p>
                      <p>Site Internet</p>
                      <p></p>
                    </div>
                    <div class="linkIcon"></div>
                    <div class="shadow"></div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="prow prow1">
                  <div data-index="slide-3">
                    <div class="thumb_nb" style="background-image: url(IMG/arton18.jpg?1473343728)"></div>
                    <div class="thumb_color" style="background-image:url(IMG/artoff18.jpg?1473343728)"></div>
                    <div class="description">
                      <h1>Menuiserie SG Concept</h1>
                    </div>
                    <div class="linkIcon"></div>
                    <div class="shadow"></div>
                  </div>
                </div>
                <div class="prow prow2">
                  <div data-index="slide-4">
                    <div class="thumb_nb" style="background-image: url(IMG/arton9.jpg?1473343728)"></div>
                    <div class="thumb_color" style="background-image:url(IMG/artoff9.jpg?1473343728)"></div>
                    <div class="description">
                      <h1>laurent lempens photographe</h1>
                      <p></p>
                      <p>Site internet</p>
                      <p></p>
                    </div>
                    <div class="linkIcon"></div>
                    <div class="shadow"></div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="prow prow1">
                  <div data-index="slide-5">
                    <div class="thumb_nb" style="background-image: url(IMG/arton12.jpg?1473343728)"></div>
                    <div class="thumb_color" style="background-image:url(IMG/artoff12.jpg?1473343728)"></div>
                    <div class="description">
                      <h1>halloween 2013</h1>
                      <p></p>
                      <p>Matte painting</p>
                      <p></p>
                    </div>
                    <div class="linkIcon"></div>
                    <div class="shadow"></div>
                  </div>
                </div>
                <div class="prow prow2">
                  <div data-index="slide-6">
                    <div class="thumb_nb" style="background-image: url(IMG/arton13.jpg?1473343728)"></div>
                    <div class="thumb_color" style="background-image:url(IMG/artoff13.jpg?1473343728)"></div>
                    <div class="description">
                      <h1>monkey island</h1>
                      <p></p>
                      <p>Digital painting</p>
                      <p></p>
                    </div>
                    <div class="linkIcon"></div>
                    <div class="shadow"></div>
                  </div>
                </div>
              </div>
              <div class="portfolio-bg-tab">
                <div>
                  <svg width="260" height="43">
                    <polygon fill="#9F8764" points="255.1,42.4 0,42.6 0,0 254.6,26.9 "></polygon>
                  </svg>
                </div>
                <div>
                  <svg width="260" height="43">
                    <polygon fill="#9F8764" points="255.1,42.4 0,42.6 0,0 254.6,26.9 "></polygon>
                  </svg>
                </div>
                <div>
                  <svg width="260" height="43">
                    <polygon fill="#9F8764" points="255.1,42.4 0,42.6 0,0 254.6,26.9 "></polygon>
                  </svg>
                </div>
                <div>
                  <svg width="260" height="43">
                    <polygon fill="#9F8764" points="255.1,42.4 0,42.6 0,0 254.6,26.9 "></polygon>
                  </svg>
                </div>
                <div>
                  <svg width="260" height="43">
                    <polygon fill="#9F8764" points="255.1,42.4 0,42.6 0,0 254.6,26.9 "></polygon>
                  </svg>
                </div>
                <div>
                  <svg width="260" height="43">
                    <polygon fill="#9F8764" points="255.1,42.4 0,42.6 0,0 254.6,26.9 "></polygon>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <div id="awards">
            <div class="raylight"></div>
            <div class="titre">
              <div class="counter">0</div>
              <div>récompenses
                <img src=>
                <span>nominations</span>
              </div>
            </div>
            <div class="slideAwards slick-initialized slick-slider">
              <div class="slick-list draggable" tabindex="0">
                <div class="slick-track" style="opacity: 1; width: 3630px; transform: translate3d(-990px, 0px, 0px);">
                  <div class="slick-slide slick-cloned" style="width: 330px;">
                    <div class="awardRborder">
                      <div class="urlsite"><a href="http://www.sgconcept.be" class="not_awards" target="_blank">www.sgconcept.be</a>
                      </div>
                      <a href="http://www.bestcss.in/user/detail/MenuiserieSGConcept-3216" target="_blank">BEST CSS (Site of the day)</a>
                    </div>
                  </div>
                  <div class="slick-slide slick-cloned" style="width: 330px;">
                    <div class="awardRborder">
                      <div class="urlsite"><a href="http://www.laurent-lempens.com" class="not_awards" target="_blank">www.laurent-lempens.com</a>
                      </div>
                      <a href="http://www.bestcss.in/user/detail/LaurentLempensPhotographe-1361" target="_blank">BEST CSS (Site of the day)</a>
                      <br><a href="http://www.csswinner.com/details/laurent-lempens-photographe/5840/" target="_blank">CSS WINNER (Nominee)</a>
                      <br><a href="http://cssreel.com/Website/laurent-lempens-photographe" target="_blank">CSS REEL (Nominee)</a>
                      <br><a href="http://www.cssdesignawards.com/sites/laurent-lempens-photography/23247/" target="_blank">CSSDA (Nominee)</a>
                    </div>
                  </div>
                  <div class="slick-slide slick-cloned" style="width: 330px;">
                    <div class="awardRborder">
                      <div class="urlsite"><a href="http://www.charpente-g2.com" class="not_awards" target="_blank">www.charpente-g2.com</a>
                      </div>
                      <a href="http://www.csswinner.com/details/charpente-g2/6810/" target="_blank">CSS WINNER (Nominee)</a>
                      <br><a href="http://cssreel.com/Website/charpente-et-construction-bois-g2" target="_blank">CSS REEL (Nominee)</a>
                    </div>
                  </div>
                  <div class="slick-slide slick-active" style="width: 330px;">
                    <div class="awardRborder">
                      <div class="urlsite">
                        <a class="not_awards" target="_blank" href="http://www.lempens-design.com">www.lempens-design.com</a>
                      </div>
                      <a target="_blank" href="http://www.awwwards.com/best-websites/sebastien-lempens-design">AWWWARDS<sup>®</sup> <strong>(Honorable mention)</strong></a>
                      <br>
                      <a target="_blank" href="http://www.thefwa.com/shortlist/s-bastien-lempens-design">THE FWA <strong>(Short list)</strong></a>
                      <br>
                      <a target="_blank" href="http://www.cssdesignawards.com/sites/sebastien-lempens-design/25208/">CSS DESIGN AWARDS <strong>(Nominee)</strong></a>
                      <br>
                      <a target="_blank" href="http://www.bestcss.in/user/detail/SebastienLempensDesign-2515">BEST CSS <strong>(Site of the day)</strong></a>
                      <br>
                      <a target="_blank" href="http://www.csswinner.com/details/sbastien-lempens-design/7786">CSS WINNER <strong>(Site of the day)</strong></a>
                      <br>
                      <a target="_blank" href="http://cssreel.com/Website/sebastien-lempens-design">CSS REEL <strong>(Site of the day)</strong></a>
                      <br>
                    </div>
                  </div>
                  <div class="slick-slide slick-active" style="width: 330px;">
                    <div class="awardRborder">
                      <div class="urlsite"><a href="http://www.sandkescht.lu" class="not_awards" target="_blank">www.sandkescht.lu</a>
                      </div>
                      <a href="http://www.bestcss.in/user/detail/BrasserieCafeLoungeSandkescht-3243" target="_blank">BEST CSS (Site of the day)</a>
                    </div>
                  </div>
                  <div class="slick-slide slick-active" style="width: 330px;">
                    <div class="awardRborder">
                      <div class="urlsite"><a href="http://www.sgconcept.be" class="not_awards" target="_blank">www.sgconcept.be</a>
                      </div>
                      <a href="http://www.bestcss.in/user/detail/MenuiserieSGConcept-3216" target="_blank">BEST CSS (Site of the day)</a>
                    </div>
                  </div>
                  <div class="slick-slide" style="width: 330px;">
                    <div class="awardRborder">
                      <div class="urlsite"><a href="http://www.laurent-lempens.com" class="not_awards" target="_blank">www.laurent-lempens.com</a>
                      </div>
                      <a href="http://www.bestcss.in/user/detail/LaurentLempensPhotographe-1361" target="_blank">BEST CSS (Site of the day)</a>
                      <br><a href="http://www.csswinner.com/details/laurent-lempens-photographe/5840/" target="_blank">CSS WINNER (Nominee)</a>
                      <br><a href="http://cssreel.com/Website/laurent-lempens-photographe" target="_blank">CSS REEL (Nominee)</a>
                      <br><a href="http://www.cssdesignawards.com/sites/laurent-lempens-photography/23247/" target="_blank">CSSDA (Nominee)</a>
                    </div>
                  </div>
                  <div class="slick-slide" style="width: 330px;">
                    <div class="awardRborder">
                      <div class="urlsite"><a href="http://www.charpente-g2.com" class="not_awards" target="_blank">www.charpente-g2.com</a>
                      </div>
                      <a href="http://www.csswinner.com/details/charpente-g2/6810/" target="_blank">CSS WINNER (Nominee)</a>
                      <br><a href="http://cssreel.com/Website/charpente-et-construction-bois-g2" target="_blank">CSS REEL (Nominee)</a>
                    </div>
                  </div>
                  <div class="slick-slide slick-cloned" style="width: 330px;">
                    <div class="awardRborder">
                      <div class="urlsite">
                        <a class="not_awards" target="_blank" href="http://www.lempens-design.com">www.lempens-design.com</a>
                      </div>
                      <a target="_blank" href="http://www.awwwards.com/best-websites/sebastien-lempens-design">AWWWARDS<sup>®</sup> <strong>(Honorable mention)</strong></a>
                      <br>
                      <a target="_blank" href="http://www.thefwa.com/shortlist/s-bastien-lempens-design">THE FWA <strong>(Short list)</strong></a>
                      <br>
                      <a target="_blank" href="http://www.cssdesignawards.com/sites/sebastien-lempens-design/25208/">CSS DESIGN AWARDS <strong>(Nominee)</strong></a>
                      <br>
                      <a target="_blank" href="http://www.bestcss.in/user/detail/SebastienLempensDesign-2515">BEST CSS <strong>(Site of the day)</strong></a>
                      <br>
                      <a target="_blank" href="http://www.csswinner.com/details/sbastien-lempens-design/7786">CSS WINNER <strong>(Site of the day)</strong></a>
                      <br>
                      <a target="_blank" href="http://cssreel.com/Website/sebastien-lempens-design">CSS REEL <strong>(Site of the day)</strong></a>
                      <br>
                    </div>
                  </div>
                  <div class="slick-slide slick-cloned" style="width: 330px;">
                    <div class="awardRborder">
                      <div class="urlsite"><a href="http://www.sandkescht.lu" class="not_awards" target="_blank">www.sandkescht.lu</a>
                      </div>
                      <a href="http://www.bestcss.in/user/detail/BrasserieCafeLoungeSandkescht-3243" target="_blank">BEST CSS (Site of the day)</a>
                    </div>
                  </div>
                  <div class="slick-slide slick-cloned" style="width: 330px;">
                    <div class="awardRborder">
                      <div class="urlsite"><a href="http://www.sgconcept.be" class="not_awards" target="_blank">www.sgconcept.be</a>
                      </div>
                      <a href="http://www.bestcss.in/user/detail/MenuiserieSGConcept-3216" target="_blank">BEST CSS (Site of the day)</a>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="slick-prev" style="display: block;">Previous</button>
              <button type="button" class="slick-next" style="display: block;">Next</button>
            </div>
          </div>
        </div>
        <div id="portfolio-details" style="top: 1508px;">
          <!-- LEFT COL -->
          <div class="mCustomScrollbar _mCS_1">
            <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0">
              <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                <div class="row" data-type="webdesign" data-index="slide-1">
                  <span></span>
                  <div class="col">
                    <div class="logo-art" style="background-image: url(IMG/artoff21.jpg?1481620828);"><img class="spip_logo spip_logos" alt="" src="IMG/arton21.jpg?1481620824" width="640" height="424" onmouseover="this.src='IMG/artoff21.jpg?1481620828'" onmouseout="this.src='IMG/arton21.jpg?1481620824'"></div>
                  </div>
                  <div class="col">
                    <h1>DuPont™ Corian® </h1>
                    <p> Webdesign</p>
                  </div>
                </div>
                <div class="row" data-type="webdesign" data-index="slide-2">
                  <span></span>
                  <div class="col">
                    <div class="logo-art" style="background-image: url(IMG/artoff15.jpg?1473343728);"><img class="spip_logo spip_logos" alt="" src="IMG/arton15.jpg?1473343728" width="640" height="424" onmouseover="this.src='IMG/artoff15.jpg?1473343728'" onmouseout="this.src='IMG/arton15.jpg?1473343728'"></div>
                  </div>
                  <div class="col">
                    <h1>Sandkescht  Lounge-Café Brasserie</h1>
                    <p> Webdesign</p>
                  </div>
                </div>
                <div class="row" data-type="webdesign" data-index="slide-3">
                  <span></span>
                  <div class="col">
                    <div class="logo-art" style="background-image: url(IMG/artoff18.jpg?1473343728);"><img class="spip_logo spip_logos" alt="" src="IMG/arton18.jpg?1473343728" width="640" height="424" onmouseover="this.src='IMG/artoff18.jpg?1473343728'" onmouseout="this.src='IMG/arton18.jpg?1473343728'"></div>
                  </div>
                  <div class="col">
                    <h1>Menuiserie SG Concept</h1>
                    <p> Webdesign</p>
                  </div>
                </div>
                <div class="row" data-type="webdesign" data-index="slide-4">
                  <span></span>
                  <div class="col">
                    <div class="logo-art" style="background-image: url(IMG/artoff9.jpg?1473343728);"><img class="spip_logo spip_logos" alt="" src="IMG/arton9.jpg?1473343728" width="640" height="424" onmouseover="this.src='IMG/artoff9.jpg?1473343728'" onmouseout="this.src='IMG/arton9.jpg?1473343728'"></div>
                  </div>
                  <div class="col">
                    <h1>laurent lempens photographe</h1>
                    <p> Webdesign</p>
                  </div>
                </div>
                <div class="row" data-type="artwork" data-index="slide-5">
                  <span></span>
                  <div class="col">
                    <div class="logo-art" style="background-image: url(IMG/artoff12.jpg?1473343728);"><img class="spip_logo spip_logos" alt="" src="IMG/arton12.jpg?1473343728" width="500" height="331" onmouseover="this.src='IMG/artoff12.jpg?1473343728'" onmouseout="this.src='IMG/arton12.jpg?1473343728'"></div>
                  </div>
                  <div class="col">
                    <h1>halloween 2013</h1>
                    <p> Artwork</p>
                  </div>
                </div>
                <div class="row" data-type="artwork" data-index="slide-6">
                  <span></span>
                  <div class="col">
                    <div class="logo-art" style="background-image: url(IMG/artoff13.jpg?1473343728);"><img class="spip_logo spip_logos" alt="" src="IMG/arton13.jpg?1473343728" width="500" height="331" onmouseover="this.src='IMG/artoff13.jpg?1473343728'" onmouseout="this.src='IMG/arton13.jpg?1473343728'"></div>
                  </div>
                  <div class="col">
                    <h1>monkey island</h1>
                    <p> Artwork</p>
                  </div>
                </div>
                <div class="row" data-type="webdesign" data-index="slide-7">
                  <span></span>
                  <div class="col">
                    <div class="logo-art" style="background-image: url(IMG/artoff14.jpg?1473343728);"><img class="spip_logo spip_logos" alt="" src="IMG/arton14.jpg?1473343728" width="640" height="430" onmouseover="this.src='IMG/artoff14.jpg?1473343728'" onmouseout="this.src='IMG/arton14.jpg?1473343728'"></div>
                  </div>
                  <div class="col">
                    <h1>Charpente et Construction G2</h1>
                    <p> Webdesign</p>
                  </div>
                </div>
                <div class="row" data-type="webdesign" data-index="slide-8">
                  <span></span>
                  <div class="col">
                    <div class="logo-art" style="background-image: url(IMG/artoff17.jpg?1473343728);"><img class="spip_logo spip_logos" alt="" src="IMG/arton17.jpg?1473343728" width="640" height="424" onmouseover="this.src='IMG/artoff17.jpg?1473343728'" onmouseout="this.src='IMG/arton17.jpg?1473343728'"></div>
                  </div>
                  <div class="col">
                    <h1>troupe théâtre de sterpenich</h1>
                    <p> Webdesign</p>
                  </div>
                </div>
                <div class="row" data-type="print" data-index="slide-9">
                  <span></span>
                  <div class="col">
                    <div class="logo-art" style="background-image: url(IMG/artoff16.jpg?1473343728);"><img class="spip_logo spip_logos" alt="" src="IMG/arton16.jpg?1473343728" width="500" height="330" onmouseover="this.src='IMG/artoff16.jpg?1473343728'" onmouseout="this.src='IMG/arton16.jpg?1473343728'"></div>
                  </div>
                  <div class="col">
                    <h1>civilisations antédiluviennes 1&amp;2</h1>
                    <p> Print</p>
                  </div>
                </div>
                <div class="row" data-type="print" data-index="slide-10">
                  <span></span>
                  <div class="col">
                    <div class="logo-art" style="background-image: url(IMG/artoff10.jpg?1473343728);"><img class="spip_logo spip_logos" alt="" src="IMG/arton10.jpg?1473343728" width="500" height="331" onmouseover="this.src='IMG/artoff10.jpg?1473343728'" onmouseout="this.src='IMG/arton10.jpg?1473343728'"></div>
                  </div>
                  <div class="col">
                    <h1>festival du film européen de virton</h1>
                    <p> Print</p>
                  </div>
                </div>
              </div>
              <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;">
                <a href="#" class="mCSB_buttonUp" oncontextmenu="return false;" style="display: block;"></a>
                <div class="mCSB_draggerContainer">
                  <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 253px; max-height: 580px;" oncontextmenu="return false;">
                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                  </div>
                  <div class="mCSB_draggerRail"></div>
                </div>
                <a href="#" class="mCSB_buttonDown" oncontextmenu="return false;" style="display: block;"></a>
              </div>
            </div>
          </div>
          <!-- RIGHT COL -->
          <div>
            <nav>
              <a href="javascript:void(0)" class="close">
                <img src=>
              </a>
            </nav>
            <section data-index="slide-1">
              <article>
                <h1>DuPont™ Corian® </h1>
                <div class="flickr-and-cie">Toutes mes créations sur <a href="https://www.flickr.com/photos/28487899@N05/" target="_blank">Flickr</a> &amp; <a href="http://slempens.deviantart.com/" target="_blank">deviant<span>art</span></a>
                </div>
                <p>LE gros projet de cette fin d’année 2016&nbsp;!
                  <br class="autobr"> Relooking graphique &amp; Développement du nouveau site <strong>DuPont™ Corian®</strong> pour notre client DuPont de Nemours. J’ai mis à profit toute mon expérience afin de concilier expérience utilisateur et administrateur. J’ai adapté la partie backend en fonction des besoins du client, avec la création de modules réutilisables et de "système de tags" afin de leur donner un maximum de liberté pour la mise à jour de leur site internet. Projet vraiment très enrichissant en tout point de vue&nbsp;!</p>
                <div class="developIn"><span class="html"></span> <span class="css"></span> <span class="jquery"></span> <span class="php"></span> <span class="spip"></span> <span class="responsive"></span></div>
                <div class="visit-site">
                  Visitez le site <a href="http://www.corian.uk" target="_blank">www.corian.uk <img src=></a>
                </div>
              </article>
              <div class="slideshow slick-initialized slick-slider" data-index="">
                <div class="slick-list" tabindex="0">
                  <div class="slick-track" style="opacity: 1; width: 3570px; transform: translate3d(-714px, 0px, 0px);">
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-active" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                  </div>
                </div>
                <ul class="slick-dots" style="display: block;">
                  <li class="slick-active">
                    <button type="button">1</button>
                  </li>
                  <li>
                    <button type="button">2</button>
                  </li>
                  <li>
                    <button type="button">3</button>
                  </li>
                </ul>
              </div>
            </section>
            <section data-index="slide-2">
              <article>
                <h1>Sandkescht  Lounge-Café Brasserie</h1>
                <div class="flickr-and-cie">Toutes mes créations sur <a href="https://www.flickr.com/photos/28487899@N05/" target="_blank">Flickr</a> &amp; <a href="http://slempens.deviantart.com/" target="_blank">deviant<span>art</span></a>
                </div>
                <div>Design &amp; Développement d’une Brasserie Luxembourgeoise. La Brasserie, de par sa décoration intérieure et sa carte, respire le Sud de la France, ce qui lui apporte un environnement unique et chaleureux.&nbsp;</div>
                <div class="awards">Nominations &amp; récompenses : <a href="http://www.bestcss.in/user/detail/BrasserieCafeLoungeSandkescht-3243" target="_blank">BEST CSS (Site of the day)</a></div>
                <div class="developIn"><span class="html"></span> <span class="css"></span> <span class="jquery"></span> <span class="spip"></span> <span class="responsive"></span></div>
                <div class="visit-site">
                  Visitez le site <a href="http://www.sandkescht.lu" target="_blank">www.sandkescht.lu <img src=></a>
                </div>
              </article>
              <div class="slideshow slick-initialized slick-slider" data-index="">
                <div class="slick-list" tabindex="0">
                  <div class="slick-track" style="opacity: 1; width: 4284px; transform: translate3d(-714px, 0px, 0px);">
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-active" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                  </div>
                </div>
                <ul class="slick-dots" style="display: block;">
                  <li class="slick-active">
                    <button type="button">1</button>
                  </li>
                  <li>
                    <button type="button">2</button>
                  </li>
                  <li>
                    <button type="button">3</button>
                  </li>
                  <li>
                    <button type="button">4</button>
                  </li>
                </ul>
              </div>
            </section>
            <section data-index="slide-3">
              <article>
                <h1>Menuiserie SG Concept</h1>
                <div class="flickr-and-cie">Toutes mes créations sur <a href="https://www.flickr.com/photos/28487899@N05/" target="_blank">Flickr</a> &amp; <a href="http://slempens.deviantart.com/" target="_blank">deviant<span>art</span></a>
                </div>
                <div>Refonte du site sgconcept.be.&nbsp;Le site se voulant plus moderne que le précédent, l’accent à été mis sur des photos plus grandes et un site plus dynamique. La ’fausse’ 3D du menu principal et la maison en ’filaire’ accentue un peu plus la modernité de ce site. Simple et efficace.</div>
                <div class="awards">Nominations &amp; récompenses : <a href="http://www.bestcss.in/user/detail/MenuiserieSGConcept-3216" target="_blank">BEST CSS (Site of the day)</a></div>
                <div class="developIn"><span class="html"></span> <span class="css"></span> <span class="jquery"></span> <span class="spip"></span> <span class="responsive"></span></div>
                <div class="visit-site">
                  Visitez le site <a href="http://www.sgconcept.be" target="_blank">www.sgconcept.be <img src=></a>
                </div>
              </article>
              <div class="slideshow slick-initialized slick-slider" data-index="">
                <div class="slick-list" tabindex="0">
                  <div class="slick-track" style="opacity: 1; width: 4284px; transform: translate3d(-714px, 0px, 0px);">
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-active" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                  </div>
                </div>
                <ul class="slick-dots" style="display: block;">
                  <li class="slick-active">
                    <button type="button">1</button>
                  </li>
                  <li>
                    <button type="button">2</button>
                  </li>
                  <li>
                    <button type="button">3</button>
                  </li>
                  <li>
                    <button type="button">4</button>
                  </li>
                </ul>
              </div>
            </section>
            <section data-index="slide-4">
              <article>
                <h1>laurent lempens photographe</h1>
                <div class="flickr-and-cie">Toutes mes créations sur <a href="https://www.flickr.com/photos/28487899@N05/" target="_blank">Flickr</a> &amp; <a href="http://slempens.deviantart.com/" target="_blank">deviant<span>art</span></a>
                </div>
                <div>J’ai développé ce site pour mon frère <strong>Laurent Lempens</strong>, photographe. Je lui ai proposé un site différent visuellement qu’à l’accoutumé pour ce type d’activité.
                  <br>
                </div>
                <div class="awards">Nominations &amp; récompenses : <a href="http://www.bestcss.in/user/detail/LaurentLempensPhotographe-1361" target="_blank">BEST CSS (Site of the day)</a>, <a href="http://www.csswinner.com/details/laurent-lempens-photographe/5840/" target="_blank">CSS WINNER (Nominee)</a> , <a href="http://cssreel.com/Website/laurent-lempens-photographe" target="_blank">CSS REEL (Nominee)</a> , <a href="http://www.cssdesignawards.com/sites/laurent-lempens-photography/23247/" target="_blank">CSSDA (Nominee)</a></div>
                <div class="developIn"><span class="html"></span> <span class="css"></span> <span class="jquery"></span> <span class="spip"></span> <span class="responsive"></span></div>
                <div class="visit-site">
                  Visitez le site <a href="http://www.laurent-lempens.com" target="_blank">www.laurent-lempens.com <img src=></a>
                </div>
              </article>
              <div class="slideshow slick-initialized slick-slider" data-index="">
                <div class="slick-list" tabindex="0">
                  <div class="slick-track" style="opacity: 1; width: 3570px; transform: translate3d(-714px, 0px, 0px);">
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-active" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                  </div>
                </div>
                <ul class="slick-dots" style="display: block;">
                  <li class="slick-active">
                    <button type="button">1</button>
                  </li>
                  <li>
                    <button type="button">2</button>
                  </li>
                  <li>
                    <button type="button">3</button>
                  </li>
                </ul>
              </div>
            </section>
            <section data-index="slide-5">
              <article>
                <h1>halloween 2013</h1>
                <div class="flickr-and-cie">Toutes mes créations sur <a href="https://www.flickr.com/photos/28487899@N05/" target="_blank">Flickr</a> &amp; <a href="http://slempens.deviantart.com/" target="_blank">deviant<span>art</span></a>
                </div>
                <div>Réalisation d’un "<a href="http://fr.wikipedia.org/wiki/Matte_painting" target="_blank">matte painting</a>" sur le thème d’Halloween. Plus d’une quarantaine d’heures auront été nécessaire pour cette combinaison de photos, d’objets 3D et de dessins.
                  <br>
                </div>
                <div class="visit-site">
                  Visitez le projet sur Flickr : <a href="http://www.flickr.com/photos/28487899@N05/10419612543/" target="_blank">www.flickr.com/photos/28487899@N05/10419612543/ <img src=></a>
                </div>
              </article>
              <div class="slideshow slick-initialized slick-slider" data-index="">
                <div class="slick-list" tabindex="0">
                  <div class="slick-track" style="opacity: 1; width: 3570px; transform: translate3d(-714px, 0px, 0px);">
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-active" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                  </div>
                </div>
                <ul class="slick-dots" style="display: block;">
                  <li class="slick-active">
                    <button type="button">1</button>
                  </li>
                  <li>
                    <button type="button">2</button>
                  </li>
                  <li>
                    <button type="button">3</button>
                  </li>
                </ul>
              </div>
            </section>
            <section data-index="slide-6">
              <article>
                <h1>monkey island</h1>
                <div class="flickr-and-cie">Toutes mes créations sur <a href="https://www.flickr.com/photos/28487899@N05/" target="_blank">Flickr</a> &amp; <a href="http://slempens.deviantart.com/" target="_blank">deviant<span>art</span></a>
                </div>
                <div>Le jeu <a href="http://fr.wikipedia.org/wiki/Monkey_Island" target="_blank">Monkey Island</a> a marqué mon expérience vidéo ludique, voilà pourquoi je lui rends hommage avec ce <a href="http://fr.wikipedia.org/wiki/Peinture_num%C3%A9rique" target="_blank">digital painting</a> réalisé en une bonne trentaine heures entièrement à la palette graphique.
                  <br>
                </div>
                <div class="awards">On en parle ici : <a href="http://www.abandonware-france.org/ltf_fanarts/" target="_blank">Abandonware France</a></div>
                <div class="visit-site">
                  Visitez le projet sur Flickr : <a href="http://www.flickr.com/photos/28487899@N05/7255678788/" target="_blank">www.flickr.com/photos/28487899@N05/7255678788/ <img src=></a>
                </div>
              </article>
              <div class="slideshow slick-initialized slick-slider" data-index="">
                <div class="slick-list" tabindex="0">
                  <div class="slick-track" style="opacity: 1; width: 3570px; transform: translate3d(-714px, 0px, 0px);">
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-active" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                  </div>
                </div>
                <ul class="slick-dots" style="display: block;">
                  <li class="slick-active">
                    <button type="button">1</button>
                  </li>
                  <li>
                    <button type="button">2</button>
                  </li>
                  <li>
                    <button type="button">3</button>
                  </li>
                </ul>
              </div>
            </section>
            <section data-index="slide-7">
              <article>
                <h1>Charpente et Construction G2</h1>
                <div class="flickr-and-cie">Toutes mes créations sur <a href="https://www.flickr.com/photos/28487899@N05/" target="_blank">Flickr</a> &amp; <a href="http://slempens.deviantart.com/" target="_blank">deviant<span>art</span></a>
                </div>
                <div>Développement d’un site d’une société de construction. J’ai utilisé l’effet "<a href="http://fr.wikipedia.org/wiki/Parallaxe" target="_blank">parallax</a>" très en vogue ces derniers temps.
                  <br>
                </div>
                <div class="awards">Nominations &amp; récompenses : <a href="http://www.csswinner.com/details/charpente-g2/6810/" target="_blank">CSS WINNER (Nominee)</a> , <a href="http://cssreel.com/Website/charpente-et-construction-bois-g2" target="_blank">CSS REEL (Nominee)</a></div>
                <div class="developIn"><span class="html"></span> <span class="css"></span> <span class="jquery"></span> <span class="spip"></span></div>
                <div class="visit-site">
                  Visitez le site <a href="http://www.charpente-g2.com" target="_blank">www.charpente-g2.com <img src=></a>
                </div>
              </article>
              <div class="slideshow slick-initialized slick-slider" data-index="">
                <div class="slick-list" tabindex="0">
                  <div class="slick-track" style="opacity: 1; width: 3570px; transform: translate3d(-714px, 0px, 0px);">
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-active" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                  </div>
                </div>
                <ul class="slick-dots" style="display: block;">
                  <li class="slick-active">
                    <button type="button">1</button>
                  </li>
                  <li>
                    <button type="button">2</button>
                  </li>
                  <li>
                    <button type="button">3</button>
                  </li>
                </ul>
              </div>
            </section>
            <section data-index="slide-8">
              <article>
                <h1>troupe théâtre de sterpenich</h1>
                <div class="flickr-and-cie">Toutes mes créations sur <a href="https://www.flickr.com/photos/28487899@N05/" target="_blank">Flickr</a> &amp; <a href="http://slempens.deviantart.com/" target="_blank">deviant<span>art</span></a>
                </div>
                <div>Développement du site Internet de la troupe de théâtre de Sterpenich en Belgique. Ici, pas de demandes spécifiques mise à part un site qui "colle" au thème. Chose faite&nbsp;!
                  <br>
                </div>
                <div class="developIn"><span class="html"></span> <span class="css"></span> <span class="jquery"></span> <span class="spip"></span></div>
                <div class="visit-site">
                  Visitez le site <a href="http://www.theatresterpenich.be" target="_blank">www.theatresterpenich.be <img src=></a>
                </div>
              </article>
              <div class="slideshow slick-initialized slick-slider" data-index="">
                <div class="slick-list" tabindex="0">
                  <div class="slick-track" style="opacity: 1; width: 3570px; transform: translate3d(-714px, 0px, 0px);">
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-active" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                  </div>
                </div>
                <ul class="slick-dots" style="display: block;">
                  <li class="slick-active">
                    <button type="button">1</button>
                  </li>
                  <li>
                    <button type="button">2</button>
                  </li>
                  <li>
                    <button type="button">3</button>
                  </li>
                </ul>
              </div>
            </section>
            <section data-index="slide-9">
              <article>
                <h1>civilisations antédiluviennes 1&amp;2</h1>
                <div class="flickr-and-cie">Toutes mes créations sur <a href="https://www.flickr.com/photos/28487899@N05/" target="_blank">Flickr</a> &amp; <a href="http://slempens.deviantart.com/" target="_blank">deviant<span>art</span></a>
                </div>
                <div>Réalisation des couvertures des 2 tomes de "<strong>Civilisations Antédiluviennes</strong>" de <strong>Dominique Jongbloed</strong>. L’auteur m’a contacté après avoir vu mes diverses créations graphiques sur Internet. Celles-ci reflétant bien l’ambiance de son livre, j’ai accepté de relever ce défi peu habituel.
                  <br>
                </div>
              </article>
              <div class="slideshow slick-initialized slick-slider" data-index="">
                <div class="slick-list" tabindex="0">
                  <div class="slick-track" style="opacity: 1; width: 2856px; transform: translate3d(-714px, 0px, 0px);">
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-active" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                  </div>
                </div>
                <ul class="slick-dots" style="display: block;">
                  <li class="slick-active">
                    <button type="button">1</button>
                  </li>
                  <li>
                    <button type="button">2</button>
                  </li>
                </ul>
              </div>
            </section>
            <section data-index="slide-10">
              <article>
                <h1>festival du film européen de virton</h1>
                <div class="flickr-and-cie">Toutes mes créations sur <a href="https://www.flickr.com/photos/28487899@N05/" target="_blank">Flickr</a> &amp; <a href="http://slempens.deviantart.com/" target="_blank">deviant<span>art</span></a>
                </div>
                <div>Participation au concours du Festival du Film Européen de Virton en 2010. Exercice de <a href="http://fr.wikipedia.org/wiki/Retouche_d%27image" target="_blank">photo-manipulation</a> pour une oeuvre dynamique et onirique. Cette affiche est arrivée en finale.
                  <br>
                </div>
              </article>
              <div class="slideshow slick-initialized slick-slider" data-index="">
                <div class="slick-list" tabindex="0">
                  <div class="slick-track" style="opacity: 1; width: 2856px; transform: translate3d(-714px, 0px, 0px);">
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-active" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide" style="width: 714px;">
                      <img src=>
                    </div>
                    <div class="slick-slide slick-cloned" style="width: 714px;">
                      <img src=>
                    </div>
                  </div>
                </div>
                <ul class="slick-dots" style="display: block;">
                  <li class="slick-active">
                    <button type="button">1</button>
                  </li>
                  <li>
                    <button type="button">2</button>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </article>
    </section>
    <!-- BELGIQUE -->
    <section class="belgique" id="belgique">
      <div class="separator" style="background-image: url(./WD_IMAGES/_BELGIQUE/belgique-separators.png)"></div>
      <article class="mainPicture" style="background-image: url(); height: 299px; background-position: 50% -180px;">
        <div class="fadeMainPicture"></div>
        <div class="welcomeTitle">
          <h1>"vous souhaitez me contacter&nbsp;?"</h1>
        </div>
        <div id="illustration_belgique">
          <div class="cloud be_cloud-1"></div>
          <div class="cloud be_cloud-2"></div>
          <div class="cloud be_cloud-3"></div>
          <div class="be_atomium"></div>
          <div class="be_arbre-1"></div>
          <div class="be_arbre-1"></div>
          <div class="be_arbre-2"></div>
          <div class="be_arbre-2"></div>
          <div data-posx="25" class="country_name be_titre">Belgique</div>
        </div>
      </article>
      <article class="belgique-1">
        <div class="main-wrapper">
          <div class="perspectiveH1">
            <h1 class="bgViolet rotateH1 rotateH1BE" style="transform: matrix3d(1, 0, 0, 0, 0, -0.34202, -0.93969, 0, 0, 0.93969, -0.34202, 0, 0, 0, 0, 1);"><h1 class="rotateXh1" style="background-color: rgb(220, 219, 220);"><span>contact</span></h1>contact</h1>
          </div>
          <div class="texte1">
            <div>
              <p style="text-align: center;">Sébastien Lempens
                <br><strong>Arlon, Belgique</strong>
                <br>
              </p>
              <div style="text-align: center;">Vous pouvez me joindre par email sur <a href="mailto:slempens@telkea.com?subject=Contact%20lempens-design.com" class="spip_mail">slempens@telkea.com</a>
                <br>Visitez le site de la société <a target="_blank" data-cke-saved-="" href="http://www.telkea.com" class="spip_url spip_out auto" rel="external">www.telkea.com</a>
                <br><a href="http://www.lempens-design.com" class="spip_url spip_out auto" rel="nofollow">www.lempens-design.com</a>
                <br>
              </div>
            </div>
            <div>
              <br>
            </div>
          </div>
        </div>
        <div class="texte2">
          <div class="main-wrapper merci">
            <h1>Merci de votre visite</h1>
          </div>
          <div class="main-wrapper">
            <p>Retrouvez moi également sur
              <span>Deviant Art</span>
              <span>Flickr</span>
              <span>Facebook</span>
            </p>
            <div class="social-icons">
              <a href="http://slempens.deviantart.com/" target="_blank" title="lempens-design Deviant Art">
                <div>
                  <div class="icon ic1"></div>
                  <div class="round-hover-social-icons"></div>
                </div>
              </a>
              <a href="https://www.flickr.com/photos/28487899@N05/" title="lempens-design Flickr" target="_blank">
                <div>
                  <div class="icon ic2"></div>
                  <div class="round-hover-social-icons"></div>
                </div>
              </a>
              <a href="https://www.facebook.com/pages/Lempens-S%C3%A9bastien/375138145855178?ref=hl" target="_blank" title="lempens-design Facebook">
                <div>
                  <div class="icon ic3"></div>
                  <div class="round-hover-social-icons"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>
</template>


<script>

//<section-bus></section-bus>
//<section-info></section-info>
//<link rel="stylesheet" href="WD_SCRIPTS/JS/scrollbar/jquery.mCustomScrollbar.css" type="text/css">
        //<script src="WD_SCRIPTS/JS/scrollbar/jquery.mCustomScrollbar.concat.min.js" type="text/javascript">

        //<//script>

import SectionBus from '../components/SectionBus.vue'
import SectionInfo from '../components/SectionInfo.vue'
import SectionSlider from '../components/SectionSlider.vue'

export default {
  name: 'IndexPage',

  components: { SectionBus, SectionInfo, SectionSlider },

  data () {
    return {}
  },
}
</script>

<style lang="stylus">
.main-wrapper
  width 1170px
</style>
