<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html>

<head>
    <!-- Locale -->
    <meta http-equiv="Content-Language" content="{{ config('app.locale') }}">

    <!-- To the Future! -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="generator" content="{{ config_get('streams::distribution.name') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="{{ trans(template.meta_description) }}"/>

    <meta property="og:site_name"
        content="{{ setting_value('streams::name', config_get('streams::distribution.name')) }}"/>
    <meta property="og:description" content="{{ trans(template.meta_description) }}"/>
    <meta property="og:title" content="{{ trans(template.meta_title) }}"/>
    <meta property="og:url" content="{{ url_current() }}"/>
    <meta property="og:type" content="website"/>

    <title>
        {{ setting_value('streams::name', config_get('streams::distribution.name')) }}
        &#8250;
        {{ trans(template.meta_title) }}
    </title>

    <!-- Favicon -->
    {#<link rel="shortcut icon" href="{{ image('theme::img/favicon.png') }}" type="image/png">#}

    {# <link href='https://fonts.googleapis.com/css?family=Eco:200,400|Material+Icons' rel="stylesheet" type="text/css"> #}

    {{ constants() }}

    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <div id="App">

        <app
            :menus="{
                main: {{ links('main').get()|json_encode }},
                social: {{ links('social').get()|json_encode }},
            }"
            :blog=""
            :products=""
            :portfolio=""
        ></app>

    </div>

    <script type="text/javascript" src="/js/main.js"></script>

</body>
</html>
