<template>
  <header id="top-left-fixed-block">
    <div class="logo">
      <router-link to="/">
        <img src="" class="on">
      </router-link>
    </div>
    <nav class="navigation">
      <div class="navButton btn-menu">
        <a href="#"></a>
        <ul class="subnav">
          <li class="first" v-for="link in linksMain">
            <div class="after"></div>
            <div class="logorub">
              <img class="spip_logo spip_logos"
                :alt="link.title"
                :src="link.url"
                width="24"
                height="63"
              />
            </div>
            <h1>{{ link.title }}</h1>
          </li>
        </ul>
      </div>
      <div class="navButton btn-share">
        <a href="#"></a>
        <ul class="subnav share">
          <li v-for="link in linksSocial">
            <a href="" @click="">
              <div class="after"></div>
              <div class="logorub">
                <img class="social"
                  :src="link.url"
                  :alt="link.title"
                />
              </div>
              <h1>{{ link.title }}</h1>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  name: 'SectionHeader',

  props: {
    linksMain: Array,
    linksSocial: Array,
  },
}
</script>

<style lang="stylus">
</style>
