<template>
  <div id="app">
    <section class="first" id="first">
      <article class="mainPicture" style="background-image: url(); height: 299px; background-position: 50% 0px;">
        <div class="fadeMainPicture"></div>
        <div class="main-wrapper">
          <div class="welcomeTitle">
            <h1>Fun to Learn</h1>
            <p></p>
            <div>
              Dolor sit amet, consectetur adipisicing elit!
              <br>
            </div>
            <p></p>
            <div class="scrollDown on"></div>
          </div>
        </div>
        <div id="illustration_france">
          <div class="cloud fr_cloud-1"></div>
          <div class="cloud fr_cloud-2"></div>
          <div class="cloud fr_cloud-3"></div>
          <div class="fr_city"></div>
          <div class="fr_eiffelTower"></div>
          <div class="fr_reverbere-1"></div>
          <div class="fr_reverbere-1"></div>
          <div class="fr_reverbere-2"></div>
          <div class="fr_reverbere-2"></div>
          <div data-posx="37" class="country_name fr_titre">France</div>
        </div>
      </article>
      <article class="apropos-1">
        <div class="animationMetro"></div>
        <div class="main-wrapper">
          <div class="perspectiveH1">
            <h1 class="bgViolet rotateH1 rotateH1FR" style="transform: matrix3d(1, 0, 0, 0, 0, -0.34202, -0.93969, 0, 0, 0.93969, -0.34202, 0, 0, 0, 0, 1);"><h1 class="rotateXh1" style="background-color: rgb(220, 219, 220);"><span>à propos</span></h1>à propos</h1>
          </div>
          <div class="clear"></div>
          <div class="stickers_next">
            <div>mes compétences</div>
            <div class="triangle">
              <svg width="40" height="23">
                <polygon fill="#7b7b7b" points="20.2,0 40.3,0 30.2,11.5 20.2,22.9 10.1,11.5 0,0"></polygon>
              </svg>
            </div>
          </div>
          <div id="slides_about_me" class="slick-initialized slick-slider">
            <!-- SLIDE1 -->
            <div class="slick-list draggable" tabindex="0">
              <div class="slick-track" style="opacity: 1; width: 3960px; transform: translate3d(-792px, 0px, 0px);">
                <div class="slick-slide slick-cloned" style="width: 792px;">
                  <div class="skills_softwares">
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="columns">
                      <div class="col">
                        <div data-skills="95"></div>
                        <h1>photoshop</h1>
                      </div>
                      <div class="col">
                        <div data-skills="85"></div>
                        <h1>illustrator</h1>
                      </div>
                      <div class="col">
                        <div data-skills="75"></div>
                        <h1>indesign</h1>
                      </div>
                      <div class="col">
                        <div data-skills="80"></div>
                        <h1>cinema 4d</h1>
                      </div>
                      <div class="col">
                        <div data-skills="85"></div>
                        <h1>after effects</h1>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="description slick-slide slick-active" style="width: 792px;">
                  <div class="descriptionPadding">
                    <h1>De Paris a Luxembourg</h1>
                    <div style="text-align: center;">Né à Paris le 14 février 1977, cela fait maintenant <strong>plus de 10 ans </strong>que je vie de ma passion, le webdesign. J’ai débuté ce métier en parfait autodidacte. A force de travail et de motivation, j’ai pu décrocher un poste de webdesigner en 2001 chez <a href="http://www.telkea.com" target="_blank">Telkea S.A.</a>, société basée à Luxembourg. Mon but est de satisfaire les exigences de mes clients en leur apportant mon savoir faire <em>tout au long du processus de création de leur projet web</em>. Ce site vous donnera un aperçu de mes compétences. <strong>Je vous souhaite une excellente visite</strong>.
                      <br>
                    </div>
                  </div>
                </div>
                <div class="slick-slide" style="width: 792px;">
                  <div class="skills_circles">
                    <div>
                      <div class="svgCircle">
                        <svg height="165px">
                          <circle fill="none" class="circle-path" stroke="#714664" stroke-width="4" cx="84.9" cy="83.8" r="76.1"></circle>
                        </svg>
                      </div>
                      <div class="text">
                        <div>
                          <div>Reflexion
                            <br>Ergonomie
                            <br>Créativité
                            <br>
                          </div>
                        </div>
                        <h1>UX designer</h1>
                      </div>
                      <div class="activeThumb"></div>
                    </div>
                    <div>
                      <div class="svgCircle">
                        <svg height="165px">
                          <circle fill="none" class="circle-path" stroke="#714664" stroke-width="4" cx="84.9" cy="83.8" r="76.1"></circle>
                        </svg>
                      </div>
                      <div class="text">
                        <div>
                          <div>Design
                            <br>Front-end coding
                            <br>Frameworks</div>
                        </div>
                        <h1>UI Developer</h1>
                      </div>
                      <div class="activeThumb"></div>
                    </div>
                    <div>
                      <div class="svgCircle">
                        <svg height="165px">
                          <circle fill="none" class="circle-path" stroke="#714664" stroke-width="4" cx="84.9" cy="83.8" r="76.1"></circle>
                        </svg>
                      </div>
                      <div class="text">
                        <div>
                          <div>Conception
                            <br>Back-End coding
                            <br> Frameworks</div>
                        </div>
                        <h1>App Developer</h1>
                      </div>
                      <div class="activeThumb"></div>
                    </div>
                  </div>
                  <p>Front-End frameworks : VueJS, AngularJs, Jquery, ThreeJS...</p>
                </div>
                <div class="slick-slide" style="width: 792px;">
                  <div class="skills_softwares">
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="columns">
                      <div class="col">
                        <div data-skills="95"></div>
                        <h1>photoshop</h1>
                      </div>
                      <div class="col">
                        <div data-skills="85"></div>
                        <h1>illustrator</h1>
                      </div>
                      <div class="col">
                        <div data-skills="75"></div>
                        <h1>indesign</h1>
                      </div>
                      <div class="col">
                        <div data-skills="80"></div>
                        <h1>cinema 4d</h1>
                      </div>
                      <div class="col">
                        <div data-skills="85"></div>
                        <h1>after effects</h1>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="description slick-slide slick-cloned" style="width: 792px;">
                  <div class="descriptionPadding">
                    <h1>De Paris a Luxembourg</h1>
                    <div style="text-align: center;">Né à Paris le 14 février 1977, cela fait maintenant <strong>plus de 10 ans </strong>que je vie de ma passion, le webdesign. J’ai débuté ce métier en parfait autodidacte. A force de travail et de motivation, j’ai pu décrocher un poste de webdesigner en 2001 chez <a href="http://www.telkea.com" target="_blank">Telkea S.A.</a>, société basée à Luxembourg. Mon but est de satisfaire les exigences de mes clients en leur apportant mon savoir faire <em>tout au long du processus de création de leur projet web</em>. Ce site vous donnera un aperçu de mes compétences. <strong>Je vous souhaite une excellente visite</strong>.
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- SLIDE2 -->
            <!-- SLIDE3 -->
            <button type="button" class="slick-prev" style="display: block;">Previous</button>
            <button type="button" class="slick-next" style="display: block;">Next</button>
            <ul class="slick-dots" style="display: block;">
              <li class="slick-active">
                <button type="button">1</button>
              </li>
              <li>
                <button type="button">2</button>
              </li>
              <li>
                <button type="button">3</button>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="apropos-2">
        <div class="main-wrapper">
          <div id="interests_about_me">
            <div><span style="background-position: 0px 0px;"></span></div>
            <div><span style="background-position: -145px 0px;"></span></div>
            <div><span style="background-position: -290px 0px;"></span></div>
            <div><span style="background-position: -435px 0px;"></span></div>
            <div><span style="background-position: -580px 0px;"></span></div>
            <div><span style="background-position: -725px 0px;"></span></div>
            <div><span style="background-position: -870px 0px;"></span></div>
            <div><span style="background-position: -1015px 0px;"></span></div>
            <div class="heart">
              <h1>j'</h1>
              <img src="http://www.lempens-design.com/WD_IMAGES/_FRANCE/Ilove-icon-heart.png" style="transform: matrix(1.0076, 0, 0, 1.0076, 0, 0);">
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>
</template>


<script>
import VueParticles from 'vue-particles'

export default {
  name: 'SectionSlider',

  components: { VueParticles },
}
</script>

<style lang="stylus">

</style>
