@import '//fonts.googleapis.com/icon?family=Material+Icons'

html
body
  height 100%

body
  background-color #dcdbdc
  overflow-x hidden

img
  image-rendering optimizeQuality

a
  outline none

.bgViolet
  background-color #704663

h1
  font-family 'Oswald', sans-serif
  font-weight 300
  font-size 22px
  font-size 2.2rem
  text-transform uppercase
  text-align center
  padding 10px 30px
  color #dcdbdc
  margin 0px auto

// /*PRELOAD*/

#preload
  width 100%
  height 100%
  position fixed
  left 0
  top 0
  z-index 1000
  overflow hidden
  opacity 1

  > div
    position absolute
    left -50%
    background-color #714764
    width 200%
    height 50%

    &.upper
    &.lower
      transition all 1400ms cubic-bezier(0.200, 0.985, 0.640, 0.940)

    &.upper
      top 0
      transform-origin center top

      &.on
        top -95%
        transform rotate(25deg)

    &.lower
      bottom 0
      background-position center 95%
      background-repeat no-repeat
      transform-origin center bottom
      opacity 1

      &.on
        bottom -95%
        transform rotate(25deg)

  > .stroke
    width 0%
    height 1px
    background-color #DCDADC
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    z-index 10
    margin auto
    opacity 0.2
    transform-origin center center
    transition all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000)

    &.on
      width 15%

    &.on2
      width 100%

    &.on3
      opacity 0

  > img
    width 250px
    height 150px
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    margin auto
    opacity 0
    transition all 1200ms cubic-bezier(0.860, 0.000, 0.070, 1.000)

    &.on
      opacity 0.9

  > .countdown
    font-family 'Oswald', sans-serif
    font-weight 300
    font-size 14px
    font-size 1.4rem
    letter-spacing 0.05em
    text-align center
    color #DCDADC
    position absolute
    width 100%
    top 60%
    left 0%
    opacity 0
    transition all 1200ms cubic-bezier(0.860, 0.000, 0.070, 1.000)

    &.on
      top 62%
      opacity 0.85


// MAIN CONTAINER

#main
  height 100%
  margin 0 auto
  min-width 990px
  width 100%
  position relative
  z-index 5

// LOGO - NAVIGATION

#top-left-fixed-block
  width 177px
  height auto
  text-align center
  position fixed
  z-index 999
  top 20px
  left 20px
  transition all 900ms cubic-bezier(0.860, 0.000, 0.070, 1.000)

  &.on
    top -35%

  .logo
    padding 15px
    background-color #1d1d1d

    img
      opacity 0
      transition all 900ms cubic-bezier(0.860, 0.000, 0.070, 1.000)

      &.on
        opacity 1

  .navButton
    background-color #ca0a60
    width 88px
    height 45px
    margin-top 1px
    float left

    &:first-child
      margin-right 1px

    a
      display block
      width auto
      height 22px
      margin 10px auto
      background-repeat no-repeat
      background-position center -22px
      text-decoration none

    &:nth-child(1) > a
      background-image url('../WD_IMAGES/GLOBAL/subnav-btn-menu.png')

    &:nth-child(2) > a
      background-image url('../WD_IMAGES/GLOBAL/subnav-btn-share.png')

    &:hover
      cursor pointer

  ul.subnav
    list-style-type none
    margin 0
    padding 0
    width 0
    position absolute
    margin-top 3px
    border-top 1px solid #fff
    overflow visible
    perspective 200px

    > li
      perspective 150px
      width 100%
      background-color #000
      transform-origin center top
      transform rotateX(89deg)
      height 0px
      overflow hidden
      margin-bottom 1px
      position relative
      border 0px solid white

      &:nth-child(1)
        background-color #704663

      &:nth-child(2)
        background-color #a98e62

        .logorub
          margin-top 25px

      &:nth-child(3)
        background-color #3f8093

        .logorub
          margin-top 25px

      > .after
        position absolute
        left 0
        top 0
        width 100%
        height 180px
        background linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%)

    h1
      color #FFFFFF !important
      font-family 'Oswald', sans-serif
      font-size 15px
      font-size 1.5rem
      font-weight 300
      margin 0
      padding 0

    &.share
      left 0

      > li
        background-color #ca0a60

      h1
        font-size 13px
        font-size 1.3rem

    .logorub
      margin-top 15px
      margin-bottom 8px

// /*SECTIONS & ARTICLES*/

section
  position relative
  z-index 1
  width 100%
  transform translateZ(0)

.main-wrapper
  width 990px
  margin 0 auto
  padding 50px 0
  position relative
  font-family 'Oswald', sans-serif
  font-weight 300
  font-size 13px
  font-size 1.3rem

  .perspectiveH1
    perspective 400px

  h1
    width 220px

h1
  &.rotateH1
    transform rotateX(-100deg)
    transform-origin center center
    position relative
    transform-style preserve-3d
    backface-visibility hidden
    margin-top 40px
    box-shadow 0 0 2px 0 rgba(0, 0, 0, 0.1)

  &.rotateXh1
    background-color transparent
    color #704663
    position absolute
    bottom 0
    left 0
    transform-origin center top
    transform rotateX(-90deg)
    box-shadow 0 0 2px 0 rgba(0, 0, 0, 0.1)

    > span
      display block
      transform rotateX(180deg)

  &.rotateH1FR
    background-color #704663

  &.rotateH1LU
    background-color #9f8764

    > h1
      color #9f8764

  &.rotateH1BE
    background-color #3f8093

    > h1
      color #3f8093

.mainPicture
  min-width 990px
  min-height 800px
  margin 0 auto
  background-position center 0px
  background-repeat no-repeat
  background-size cover
  background-size 100%
  position relative
  transform translateZ(0)
  will-change background-position

.fadeMainPicture
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  background-color #000
  opacity 0
  transform translateZ(0)

.separator
  height 150px
  width 100%
  position absolute
  top 0
  margin-top -50px
  z-index 2
  background-position center top
  background-repeat no-repeat
  background-size cover

// FRANCE - LUXEMBOURG - BELGIQUE SLIDES

.welcomeTitle

  div
    color #5a5a5e
    font-size 12px
    font-size 1.2rem
    letter-spacing 0.2rem
    text-align center
    text-transform uppercase

  > .scrollDown
    width 50px
    height 50px
    background-image url('../WD_IMAGES/GLOBAL/scrollDown.gif'), url('../WD_IMAGES/GLOBAL/scrollDownHover.gif')
    background-position 0 0, 0 -50px
    background-repeat no-repeat
    background-color #EC0462
    margin 30px auto
    transition all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550)

    &.on
      background-position 0 50px, 0 0

#illustration_france
#illustration_luxembourg
#illustration_belgique
  width 590px
  min-height 350px
  position absolute
  bottom 0
  left 50%
  margin-left -295px
  perspective 500px
  z-index 10

  > *:not(.country_name)
    background-position center center
    background-repeat no-repeat
    transform-origin center bottom
    position absolute
    bottom 0
    transform rotateX(-89deg)
    visibility hidden
    opacity 0

// FRANCE

.fr_cloud-1
  width 141px
  height 82px
  top 5%
  left 60%
  background-image url('../WD_IMAGES/_FRANCE/france-shape-nuage1.png')

.fr_cloud-2
  width 82px
  height 48px
  top 20%
  left 30%
  background-image url('../WD_IMAGES/_FRANCE/france-shape-nuage2.png')

.fr_cloud-3
  width 38px
  height 22px
  top 40%
  left 60%
  background-image url('../WD_IMAGES/_FRANCE/france-shape-nuage3.png')

.fr_city
  width 552px
  height 51px
  left 50%
  margin-left -276px
  background-image url('../WD_IMAGES/_FRANCE/france-shape-ville.png')

.fr_eiffelTower
  width 92px
  height 246px
  left 50%
  margin-left -45px
  background-image url('../WD_IMAGES/_FRANCE/france-shape-tourEiffel.png')

.fr_reverbere-1
  width 20px
  height 124px
  background-image url('../WD_IMAGES/_FRANCE/france-shape-reverbere1.png')
  left 30%
  margin-left -10px

  &:nth-child(odd)
    left 70%

.fr_reverbere-2
  width 26px
  height 159px
  background-image url('../WD_IMAGES/_FRANCE/france-shape-reverbere2.png')
  left 20%
  margin-left -13px

  &:nth-child(odd)
    left 80%

.fr_titre
  color #DDDCDD
  font-family 'Oswald', sans-serif
  font-size 17px
  font-size 1.7rem
  font-weight 300
  bottom 23%

.apropos-1
  background-color #dcdbdc
  width 100%
  min-height 300px
  position relative

  > .animationMetro
    position absolute
    left 0
    bottom 0
    width 100%
    height 80px
    background-image url('../WD_IMAGES/_FRANCE/france-metro.png')
    background-repeat no-repeat
    background-position -1800px bottom

.apropos-2
  background-color #7B7B7B
  width 100%
  padding 50px

// LUXEMBOURG

.lu_cloud-1
  width 78px
  height 45px
  top 20%
  left 50%
  background-image url('../WD_IMAGES/_LUXEMBOURG/luxembourg-shape-nuage1.png')

.lu_cloud-2
  width 40px
  height 23px
  top 40%
  left 75%
  background-image url('../WD_IMAGES/_LUXEMBOURG/luxembourg-shape-nuage2.png')

.lu_cloud-3
  width 28px
  height 16px
  top 40%
  left 45%
  background-image url('../WD_IMAGES/_LUXEMBOURG/luxembourg-shape-nuage3.png')

.lu_eglise
  background-image url('../WD_IMAGES/_LUXEMBOURG/luxembourg-shape-eglise.png')
  bottom 33% !important
  height 104px
  left 50%
  margin-left 25px
  width 122px

.lu_pont
  width 342px
  height 120px
  left 50%
  margin-left -171px
  background-image url('../WD_IMAGES/_LUXEMBOURG/luxembourg-shape-pont.png')

.lu_feuillage
  width 586px
  height 158px
  background-image url('../WD_IMAGES/_LUXEMBOURG/luxembourg-shape-feuillages.png')
  left 50%
  margin-left -292px

.lu_titre
  color #DDDCDD
  font-family 'Oswald', sans-serif
  font-size 17px
  font-size 1.7rem
  font-weight 300
  bottom 42%

// /*BELGIQUE*/

.be_cloud-1
  width 90px
  height 52px
  top 30%
  left 20%
  background-image url('../WD_IMAGES/_BELGIQUE/belgique-shape-nuage1.png')

.be_cloud-2
  width 63px
  height 36px
  top 35%
  left 65%
  background-image url('../WD_IMAGES/_BELGIQUE/belgique-shape-nuage2.png')

.be_cloud-3
  width 38px
  height 22px
  top 30%
  left 55%
  background-image url('../WD_IMAGES/_BELGIQUE/belgique-shape-nuage3.png')

.be_atomium
  width 182px
  height 196px
  left 50%
  margin-left -91px
  margin-bottom -1px
  background-image url('../WD_IMAGES/_BELGIQUE/belgique-shape-atomium.png')

.be_arbre-1
  width 53px
  height 59px
  background-image url('../WD_IMAGES/_BELGIQUE/belgique-shape-arbre1.png')
  left 28%
  margin-left -26px

  &:nth-child(odd)
    left 72%

.be_arbre-2
  width 81px
  height 90px
  background-image url('../WD_IMAGES/_BELGIQUE/belgique-shape-arbre2.png')
  left 15%
  margin-left -40px

  &:nth-child(odd)
    left 85%

.be_titre
  color #DDDCDD
  font-family 'Oswald', sans-serif
  font-size 17px
  font-size 1.7rem
  font-weight 300
  bottom 28%

// GLOBAL ILLUS

.country_name
  position absolute
  opacity 0
  left 25%

// ARTICLES

// FRANCE

.stickers_next
  background-color #7B7B7B
  padding 10px 30px
  position absolute
  right -7%
  top 195px
  width auto
  transform scale(0)

  > div
    color #dcdbdc
    font-family 'Oswald', sans-serif
    font-size 17px
    font-size 1.7rem
    font-weight 300
    text-transform uppercase

    &.triangle
      width 40px
      height 40px
      position absolute
      bottom -30px
      left 5px

#slides_about_me
  width 80%
  margin 80px auto
  margin-bottom 100px
  position relative

  .descriptionPadding
    font-size 17px
    font-size 1.6rem
    line-height 2.7rem
    font-family 'Oswald', sans-serif
    font-weight 300
    text-align center
    padding 0px 90px
    text-align center

    a
      color #CA0A60
      text-decoration none

      &:hover
        color #3e3e3e

    > h1
      color #281823
      font-family 'Oswald', sans-serif
      font-size 35px
      font-size 3.5rem
      font-weight 300
      padding 0
      text-transform none
      width 100%
      margin-bottom 20px

  .skills_circles
    display flex
    flex-direction row
    justify-content center
    align-items center
    padding 0 10px

    > div
      width 165px
      height 165px
      margin 0 10px
      background-image url('../WD_IMAGES/_FRANCE/france-grey-circle.png')
      background-repeat no-repeat
      background-position center center
      font-family 'Oswald', sans-serif
      color #704663
      font-weight 300
      font-size 16px
      font-size 1.6rem
      position relative

    .text
      height 135px
      border 1px
      text-align center
      padding 30px

    h1
      width auto
      font-size 20px
      font-size 1.6rem
      font-weight 300
      text-transform uppercase
      text-align center
      color #ca0a60
      margin-top 10px
      opacity 0
      padding 0

    .svgCircle
      margin-left 0
      margin-top 0
      top -1px
      left -2px
      position absolute
      background none

      .circle-path
        stroke-dasharray 1000px
        stroke-dashoffset 1000px

        .animate &
          animation animCircle 1s ease forwards
            to
              stroke-dashoffset 520px
            to
              stroke-dashoffset 520px
            to
              stroke-dashoffset 520px

    .activeThumb
      width 35px
      height 35px
      background-image url('../WD_IMAGES/_FRANCE/france-thumb.png')
      background-repeat no-repeat
      background-position center center
      position absolute

    + p
      font-size 1.5rem
      font-family 'Oswald', sans-serif
      font-weight:300
      color #776772
      text-align center
      opacity:1
      margin-top 65px
      letter-spacing 0.1rem
      bottom -45px
      margin-left 70px
      opacity 0

  .skills_softwares
    width 600px
    height 230px
    margin 0 auto
    position relative

    > .row
      width 100%
      height 1px
      background-color #8b8b8b
      position absolute
      top 0px
      opacity 0

    > .columns
      position absolute
      top 0
      width 100%
      display flex
      justify-content center
      align-items stretch

      > .col
        /* background-color #fff  */
        width 100px
        height 230px
        text-align center
        position relative
        display block

        > div
          width 25px
          height 0
          margin-left 40px
          background-color #ca0a60
          position absolute
          bottom 50px

        > h1
          font-size 16px
          font-size 1.6rem
          font-family 'Oswald', sans-serif
          font-weight 300
          text-transform uppercase
          color #704663
          text-align center
          margin 0
          margin-bottom -10px
          padding 0
          position absolute
          width 100%
          bottom 0px
          opacity 0

@keyframes animCircle
  to
    stroke-dashoffset 520px

#interests_about_me
  width 600px
  margin 0 auto
  display flex
  justify-content center
  flex-wrap wrap
  position relative

  > div
    width 145px
    height 145px
    background-color #d5d2d4
    margin-bottom 5px
    margin-right 5px
    overflow hidden

    > span
      position absolute
      display block
      width 145px
      height 145px
      background-image url('../WD_IMAGES/_FRANCE/interests-spritesheets-icons.png')
      background-repeat no-repeat
      background-position 0 0

    > .fillBg
      background-color #ca0a60
      width 100%
      height 0

  > .heart
    background-color rgba(0, 0, 0, 0)
    background-image url('"../WD_IMAGES/_FRANCE/Ilove-icon-heart-bg.png"')
    background-position center center
    background-repeat no-repeat
    display block
    height 67px
    left 50%
    margin-left -38px
    margin-top -35px
    position absolute
    width 71px

    > img
      margin-left 7px
      margin-top 7px

    > h1
      color #FFFFFF
      font-family 'Oswald', sans-serif
      font-size 22px
      font-size 2.2rem
      font-weight 300
      left 2px
      position absolute
      text-align left
      text-transform uppercase
      top 6px
      z-index 2

#first
  .mainPicture
    background-color #DCDBDC

  .welcomeTitle
    padding-top 110px

    > h1
      color #704663
      font-size 38px
      font-size 3.8rem
      letter-spacing 3.6rem
      margin 0 auto
      width 100%
      text-align center
      margin-left 10px

// LUXEMBOURG MIDDLE

#luxembourg
  .mainPicture
    overflow hidden
    background-color #E1DFDE

  .separator
    margin-top -80px

  .welcomeTitle
    width 100%
    position absolute
    text-align center
    bottom 40%
    left 0

    > h1
      color #f6ede0
      font-size 23px
      font-size 2.3rem
      letter-spacing 0.6rem
      margin 0 auto
      text-align center
      width 574px

  article
    background-color #E1DFDE

  .luxembourg-1
    .bandeau
      background-color #68695F
      color #E0DEDD
      font-family 'Oswald', sans-serif
      font-size 40px
      font-size 4rem
      font-weight 300
      letter-spacing 0.4rem
      padding 10px
      text-align center
      margin 20px 0

    .texte1
      padding 0px 90px
      padding-top 100px
      padding-bottom 0
      font-size 17px
      font-size 1.7rem
      color #303030

  #portfolio
    margin-top 20px
    transform translateZ(0)

    > .portfolio-nav
      margin-top 50px
      display flex
      justify-content center
      align-items center

      > span
        color #9F8764
        font-size 21px
        font-size 2.1rem
        letter-spacing 0.6rem
        padding 5px 40px
        text-align center
        text-transform uppercase
        transition all 650ms cubic-bezier(0.175, 0.885, 0.320, 1.275)

      &.on

        img
          display none

        > span
          background-color #1D1D1D
          border-right 1px solid #9f8764
          padding 5px 110px
          cursor pointer

          &:hover
            background-color #9f8764
            color #1D1D1D

          &:last-child
            border-right none

    > .portfolio-tab
      margin-left 20px
      margin-top 80px
      transition all 2050ms cubic-bezier(0.175, 0.885, 0.320, 1.275)

      &.on
        opacity 0

      > .column
        float left
        margin-left -13px
        position relative
        z-index 2
        perspective 900px
        transform-style preserve-3d

        > .prow
          perspective 900px
          transform-style flat
          padding 10px
          perspective none
          padding 0 10px

          > div
            width 315px
            height 270px
            margin-bottom 5px
            background-color #ccc
            overflow hidden
            position relative
            transform-style flat
            cursor pointer
            background-repeat no-repeat
            background-size cover
            background-position center center, center center
            box-shadow 0 0 2px 0 rgba(0, 0, 0, 0.1)
            transition all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275)

          .thumb_nb
            z-index 9
            &.thumb_color
              width 315px
              height 270px
              background-color #000
              background-size cover
              background-position center center, center center
              transition all 850ms cubic-bezier(0.250, 0.460, 0.450, 0.940)
              position absolute
              left 0
              top 0
              z-index 8

          &.on > div > .thumb_nb
            opacity 0
            transform scale(1.15)

          .shadow
            width 315px
            height 270px
            position absolute
            z-index 10
            left 0
            top 0

        &:nth-child(1)
          > .prow1
            > div
              transform rotateY(-20deg)
              transform-origin left center

          > .prow2
            > div
              transform rotateY(20deg)
              transform-origin right center

        &:nth-child(2)
          > .prow1
            > div
              transform rotateY(20deg)
              transform-origin right center

          > .prow2
            > div
              transform rotateY(-20deg)
              transform-origin left center

        &:nth-child(3)
          > .prow1
            > div
              transform rotateY(-20deg)
              transform-origin left center

          > .prow2
            > div
              transform rotateY(20deg)
              transform-origin right center

        &:nth-child(1) > .prow1
        &:nth-child(2) > .prow2
        &:nth-child(3) > .prow1
          > div
            > .shadow
              background linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%)

        &:nth-child(1) > .prow2
        &:nth-child(2) > .prow1
        &:nth-child(3) > .prow2
          > div
            > .shadow
              background linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%)

        > div
          > .shadow
            transition all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000)
            opacity 1

          .linkIcon
            position absolute
            z-index 20
            top 20%
            left 50%
            margin-left -44px
            width 88px
            height 88px
            background-image url('../WD_IMAGES/_LUXEMBOURG/luxembourg-link-icon.png')
            background-repeat no-repeat
            background-position center center
            transition all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 300ms
            transform scale(0) rotate(90deg)
            opacity 0

        &.on
          > div
            transform rotateY(0deg)

            > .shadow
              opacity 0

            .linkIcon
              transform scale(0.75) rotate(0deg)
              opacity 1

            > .description
              position absolute
              z-index 20
              bottom -80px
              left 0
              width 100%
              height auto
              text-align center
              padding 20px 5px
              background-color rgba(0, 0, 0, 0.75)
              color #fff
              transition all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 240ms
              bottom 0

        > h1
          width 100%
          text-transform uppercase
          margin 0
          padding 0
          letter-spacing 0.12rem
          font-size 15px
          font-size 1.5rem
          text-align center

        > p
          margin 0
          padding 0


    .portfolio-bg-tab
      position relative
      height 645px
      top -18px

      > div
        position absolute
        z-index 1

        &:nth-child(1)
          left -3px
          top -15px

        &:nth-child(2)
          left 374px
          top -15px
          transform rotateY(180deg)

        &:nth-child(3)
          left 641px
          top -15px

        &:nth-child(4)
          left 52px
          bottom 43px
          transform rotateX(180deg) rotateY(180deg)

        &:nth-child(5)
          left 319px
          bottom 43px
          transform rotateX(180deg)

        &:nth-child(6)
          right 14px
          bottom 43px
          transform rotateX(180deg) rotateY(180deg)

        &:nth-child(1)
        &:nth-child(2)
        &:nth-child(3)
          top -5px

        &:nth-child(4)
        &:nth-child(5)
        &:nth-child(6)
          bottom 55px


// PORTFOLIO DETAILS

#portfolio-details
  width 100%
  height 630px
  background-color #1D1D1D
  position absolute
  top 31%
  left -100%
  z-index 99
  transition all 900ms cubic-bezier(0.860, 0.000, 0.070, 1.000)
  transform translateZ(0)

  &.on
    left 0

  .mCSB_scrollTools
    right 7px

  > div
    &:first-child
      width 30%
      height 100%
      overflow auto
      display inline-block
      vertical-align top
      cursor pointer

      .row
        border 1px solid #1d1d1d
        background-color #847053
        transition all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275)
        width 100%
        height auto
        position relative
        display block !important
        box-shadow 0 0 2px 0 rgba(0, 0, 0, 0.1)
        z-index 99999

        > span
          display block
          position absolute
          left 0
          top 0
          z-index 5
          width 100%
          height 100%
          background-color #000
          opacity 0.6
          transition all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275)

        &.filtered
          > span
            opacity 0.4 !important

        &.on
          border-bottom 1px solid #9f8764

          > span
            opacity 0 !important

          > .col
            > .logo-art
              background-size 110%

              > img
                opacity 0

          &:last-child > h1
            color #fff

        > .col
          width 49.5%
          display inline-block !important
          position relative
          transition all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275)
          vertical-align middle !important

          &:last-child
            color #e0dedd
            padding 5%

            > .description
              color #4a4a4a
              font-size 13px
              font-size 1.3rem
              line-height 1.8rem
              margin-top 10px

          > .logo-art
            background-repeat no-repeat
            background-position center center
            background-size 100%
            transition all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275)

            > img
              transition all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275)

            > h1
              font-family 'Oswald', sans-serif
              font-size 18px
              font-size 1.8rem
              font-weight 400
              line-height 2.5rem
              margin 0
              padding 0
              text-align left
              text-transform uppercase
              transition all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275)

        &.off
          display none

  > div:last-child
    // /* background-color #e1dfde  */
    display inline-block
    height 100%
    margin-left -4px
    vertical-align top
    width 70%

    > nav
      width 100%
      background-color #68695f
      position relative

      > a
        font-family 'Oswald', sans-serif
        font-size 23px
        font-size 2.3rem
        font-weight 400
        text-decoration none
        text-transform uppercase
        display inline-block
        padding 1% 3%
        text-align center
        letter-spacing 0.1em
        color #aeaeaa
        vertical-align middle
        transition all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275)

        &:hover
        &.on
          background-color #1d1d1d
          text-align center

        &.close
          background-color #1d1d1d
          padding 0.85% 0
          position absolute
          right 0%
          text-align center
          top -14px
          width 10%
          z-index 99

          > img
            transition all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275)
            transform scale(0.9)

          &:hover
            > img
              transform rotate(180deg)

    > section
      visibility hidden
      position absolute
      width 70.4%
      transition all 950ms cubic-bezier(0.175, 0.885, 0.320, 1.275)
      opacity 0

      > .slideshow
        display inline-block
        position relative
        width 64%
        margin-top 10%
        vertical-align top

        .slick-dots
          margin-bottom -4%

          li
            &.slick-active button:before
              color #e1dfde

            button:before
              font-size 16px
              // /* color #68695F  */
              color #E1DFDE

      &.on
        visibility visible
        opacity 1

      > article
        background-color #1d1d1d
        color #e1dfde
        display inline-block
        margin 3% 5% 0 3%
        padding 6% 0 0
        text-align justify
        vertical-align top
        width 25%

        > h1
          padding 1.5% 0
          margin 0
          margin-bottom 2%
          font-size 25px
          font-size 2.5rem
          font-weight 400
          text-align left
          color #9f8764

        a
          color #9f8764
          text-decoration none

        .flickr-and-cie
          background-color #847053
          font-family 'Oswald', sans-serif
          font-size 20px
          font-size 2rem
          font-weight 200
          left 0
          padding 0.5%
          position absolute
          text-indent 2.5%
          top 1px
          width 99.4%

          > a
            color #1D1D1D
            font-weight 400
            padding 0 1%

            > span
              font-variant small-caps

        .developIn
          display inline-block
          margin 3% 4% 2% -1%
          padding 1% 0

          > span
            display inline-block
            background-image url('../WD_IMAGES/_LUXEMBOURG/luxembourg-icones-html-css-jquery-etc-spreadsheets.png')
            background-repeat no-repeat
            background-position 0 0
            width 48px
            height 45px

            &.css
              background-position -48px 0

            &.jquery
              background-position -96px 0

            &.spip
              background-position -144px 0

            &.responsive
              background-position -192px 0

            &.php
              background-position -240px 0

        .visit-site
          display inline-block
          position relative
          top -4px
          text-align left

        .visit-site
        .awards
          margin-top 10px
          color #767676
          text-align left

        a
          img
            transition all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275)
            display inline-block
            position relative

          &:hover
            opacity 0.5

          &:hover img
            left 10px

 // AWARDS

#luxembourg #awards
  width 100%
  height 650px
  position relative

  > .raylight
    width 650px
    height 650px
    background-image url('../WD_IMAGES/_LUXEMBOURG/luxembourg-raylights-awards.png')
    background-position center center
    position absolute
    top 0
    left 50%
    margin-left -335px
    background-repeat no-repeat
    z-index 0
    transform-origin center center 5px

  > .titre
    text-align center
    width 100%
    position relative
    padding-top 125px

    span
      padding-left 15px

    > div
      &:first-child
        font-weight 400
        font-size 110px
        font-size 11rem
        color #9f8764

      &:last-child
        color #68695F
        font-size 35px
        font-size 3.5rem
        font-weight 300
        letter-spacing 1.6rem

  .slideAwards
    width 100%
    margin-top 85px
    margin-bottom 50px
    margin-right auto
    margin-left auto

    .awardRborder
      padding-left 100px
      border-right 1px solid #9f8764

    .slick-active > .awardRborder.noBorder
      border-right none !important

    .urlsite
      margin-bottom 10px

      > a:hover
        color #9f8764

    a
      font-size 14px
      font-size 1.4rem
      font-weight 300
      line-height 2.7rem
      color #282828
      text-decoration none
      transition all 200ms ease

      &:hover
        color #9f8764

    > a
      color #282828
      font-size 15px
      font-size 1.5rem
      font-weight 400

// /*BELGIQUE*/

#belgique
  .welcomeTitle
    width 100%
    position absolute
    text-align center
    bottom 35%
    left 0

    > h1
      color #dcdfe0
      font-size 23px
      font-size 2.3rem
      letter-spacing 0.6rem
      margin 0 auto
      text-align center
      width 574px

  .mainPicture
    background-color #DDE0E1

  .belgique-1
    background-color #DDE0E1

    > main-wrapper
      padding-bottom 0

  .texte1
    color #303030
    font-size 2rem
    font-size 20px
    line-height 3.2rem
    padding 110px 150px 160px 150px

    strong
      display block
      font-size 14px
      font-size 1.4rem
      margin -3px 0 0
      padding 0

    a
      color #3f8093
      display inline-block
      text-decoration none

      &:hover
        text-decoration underline

      &[rel='external']
        color #ca0a60

  .texte2
    background-color #3F8093
    margin-top -80px

    > .main-wrapper
      color #dcdfe0
      font-size 15px
      font-size 1.5rem
      text-align center
      padding 20px 0 80px

      &.merci
        padding 0
        position relative
        top -64px

      > h1
        color #3f8093
        font-size 60px
        font-size 6rem
        margin 0
        padding 0
        width 100%
        font-weight 300
        letter-spacing 0.15em

      > p > span
        opacity 0
        position absolute
        margin-left 4px

      > .social-icons
        text-align center
        margin-top 40px

        a
          text-decoration none

          > div
            display inline-block
            margin 0 10px
            width 80px
            height 80px
            border-radius 50%
            background-color #dcdfe0
            position relative
            transition all 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275)

            &:hover
              background-color #3F8093

.social-icons
  .icon
    position absolute
    z-index 2
    top 0
    left 0
    width 80px
    height 80px
    background-repeat no-repeat
    background-image url('../WD_IMAGES/_BELGIQUE/socials-links-stylesheets.png')
    transition all 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275)

    &.ic1
      background-position 0 0

      &:hover
        background-position 0 -80px

    &.ic2
      background-position -80px 0

      &:hover
        background-position -80px -80px

    &.ic3
      background-position -160px 0

      &:hover
        background-position -160px -80px

  .round-hover-social-icons
    position absolute
    opacity 0
    width 80px
    height 80px
    border-radius 50%
    background-color #ca0a60 !important
    z-index 1
    transform-origin center bottom 200px
    transform rotate(-180deg)
    transition all 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275)

    a:hover &
      transform rotate(0deg)
      opacity 1

