/*
  Demo Styles: NOT REQUIRED
*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
p {
    margin: 0;
    padding: 0;
}

.animate {
    opacity: 0;

    .no-csstransitions &,
    .no-cssanimations & {
        opacity: 1;
    }
}
