<template>
  <div>
    <section-header
      :links-main="menus.main"
      :links-social="menus.social"
    />
    <router-view class="router-view" />
    <section-footer />
  </div>
</template>

<script>
import SectionHeader from './components/SectionHeader.vue'
import SectionFooter from './components/SectionFooter.vue'

export default {
  name: 'App',

  components: { SectionHeader, SectionFooter },

  props: {
    menus: Object,
  },

  data () {
    return {
      left: null,
      drawer: true,
      items: [
        { title: 'Home', icon: 'dashboard' },
        { title: 'About', icon: 'question_answer' }
      ],
      toolbar: [
        {
          text: 'Link'
        },
        {
          text: 'Link'
        },
        {
          text: 'Link'
        },
      ],
      mini: true,
      right: null,
    }
  }
}
</script>

<style lang="stylus"></style>
